<li class="location card">
  <h3 class="h3"><a href="{% url 'locations:location' location.category_slug location.slug location.id %}">{{ location.name }}</a></h3>
  <p class="info">Created on {{ location.date_created|date:"N j, Y." }}{% if location.updated_later %} <span class="text-nowrap">Updated {{ location.date_updated|date:"N j, Y." }}</span>{% endif %} <span class="text-nowrap">From <a href="{% if location.category == 0 or location.category == 2 %}{% url 'home:category' 'nightlife' %}{% elif location.category == 1 %}{% url 'home:category' 'restaurants' %}{% elif location.category == 3 %}{% url 'home:category' 'arts-and-entertainment' %}{% elif location.category == 4 %}{% url 'home:category' 'health-and-fitness' %}{% elif location.category == 5 %}{% url 'home:category' 'sports' %}{% elif location.category == 6 %}{% url 'home:category' 'non-profit' %}{% else %}{% url 'home:category' 'misc' %}{% endif %}">{% if location.category == 2 %}Nightlife</a> and <a href="{% url 'home:category' 'restaurants' %}">Restaurants</a>{% if location.no_kitchen %}*{% endif %}{% else %}{{ location.get_category_display }}</a>{% endif %}.</span></p>
  <ul class="address">
    <li>{{ location.address1 }}</li>
    {% if location.address2 %}
    <li>{{ location.address2 }}</li>
    {% endif %}
    <li>{{ location.city }}, {{ location.state }}{% if location.zip_code %} {{ location.zip_code }}{% endif %}</li>
  </ul>
  {% if location.website %}
  <a href="{{ location.website }}">{{ location.website }}</a>
  {% endif %}
  {% if location.phone %}
  <a href="tel:+1{{ location.phone }}">{{ location.display_phone }}</a>
  {% endif %}
  {% if location.category == 2 and location.no_kitchen %}
  <p class="info">* location that does not have a kitchen but allows outside food</p>
  {% endif %}
</li>
