{% extends 'locations/base.html' %}{% load static %}

{% block large_mobile_banner1 %}
{% include 'home/ads/large_mobile_banner15.html' %}
{% endblock %}

{% block leaderboard1 %}
{% include 'home/ads/leaderboard15.html' %}
{% endblock %}

{% block large_mobile_banner2 %}
{% include 'home/ads/large_mobile_banner16.html' %}
{% endblock %}

{% block leaderboard2 %}
{% include 'home/ads/leaderboard16.html' %}
{% endblock %}

{% block medium_rectangle1a %}
{% include 'home/ads/medium_rectangle45a.html' %}
{% endblock %}

{% block medium_rectangle1b %}
{% include 'home/ads/medium_rectangle45b.html' %}
{% endblock %}

{% block content %}
{% include 'home/messages.html' %}
<p id="breadcrumbs">
  {% if category_name == 'Nightlife & Restaurants' %}<a href="{% url 'home:category' 'nightlife' %}">Nightlife</a> <span>/</span> <a href="{% url 'home:category' 'restaurants' %}">Restaurants</a>{% else %}<a href="{% url 'home:category' category_slug %}">{{ category_name }}</a>{% endif %}
  <i class="fas fa-chevron-right"></i>
  <a href="{% url 'locations:neighborhood' location.neighborhood.slug location.neighborhood.id %}">{{ location.neighborhood.name }}</a>
  <i class="fas fa-chevron-right"></i>
  {{ location.name }}
</p>
<h3 class="h3">Details</h3>
<table id="details" class="card">
  <tbody>
    <tr>
      <td>Address</td>
      <td>{{ location.name }}<br>
      {{ location.address1 }}<br>{% if location.address2 %}
      {{ location.address2 }}<br>{% endif %}
      {{ location.city }}, {{ location.state }}{% if location.zip_code %} {{ location.zip_code }}{% endif %}</td>
    </tr>
    {% if event.description %}<tr>
      <td>Description</td>
      <td>{{ event.description|linebreaks }}</td>
    </tr>{% endif %}
    {% if location.website %}<tr>
      <td>Website</td>
      <td><a class="external-link" href="{{ location.website }}">{{ location.website }}</a></td>
    </tr>{% endif %}
    {% if location.phone %}<tr>
      <td>Phone</td>
      <td><a href="tel:+1{{ location.phone }}">{{ location.display_phone }}</a></td>
    </tr>{% endif %}
  </tbody>
</table>
<div class="rectangles">
  {% include 'home/ads/medium_rectangle46.html' %}
  {% include 'home/ads/medium_rectangle47.html' %}
  {% include 'home/ads/medium_rectangle48.html' %}
</div>
<h3 class="h3">Events</h3>
<ul id="events" class="card bulleted">
{% for event in events %}
<li><a href="{% url 'events:event' category_slug location.slug event.slug event.id %}" tabindex="{{ forloop.counter0 }}">{{ event.name }} &ndash; {{ event.date_start|date:"D. n/j/y" }}{% if not event.all_day %} ({{ event.date_start|date:"g:i a" }}{% if event.date_end %}&ndash;{{ event.date_end|date:"g:i a" }}{% endif %}){% endif %}</a></li>
{% empty %}
<li class="empty">There are no upcoming events scheduled at {{ location.name }}.</li>
{% endfor %}
</ul>
<h3 class="h3">Map</h3>
<div id="map">
  <iframe src="https://www.google.com/maps/embed/v1/place?q={{ location.name|urlencode }}%20{{ location.address1|urlencode }}%20{{ location.city|urlencode }}%2C%20{{ location.state|urlencode }}{% if location.zip_code %}%20{{ location.zip_code|urlencode }}{% endif %}&key={{ GOOGLE_MAPS_API_KEY }}" allowfullscreen></iframe>
</div>
{% if user.is_superuser %}
<h3 class="h3">Update</h3>
{% include 'locations/update_location.html' %}
<h3 class="h3">Delete</h3>
<div class="card">
  <button id="deleteLocationButton" class="btn btn-danger form-control" data-toggle="modal" data-target="#deleteLocationModal">Delete Location</button>
</div>
{% include 'locations/delete_location_modal.html' %}
{% endif %}
{% endblock %}
