{% extends 'locations/base.html' %}{% load static %}

{% block large_mobile_banner1 %}
{% include 'home/ads/large_mobile_banner13.html' %}
{% endblock %}

{% block leaderboard1 %}
{% include 'home/ads/leaderboard13.html' %}
{% endblock %}

{% block large_mobile_banner2 %}
{% include 'home/ads/large_mobile_banner14.html' %}
{% endblock %}

{% block leaderboard2 %}
{% include 'home/ads/leaderboard14.html' %}
{% endblock %}

{% block medium_rectangle1a %}
{% include 'home/ads/medium_rectangle41a.html' %}
{% endblock %}

{% block medium_rectangle1b %}
{% include 'home/ads/medium_rectangle41b.html' %}
{% endblock %}

{% block content %}
<h3 class="h3"><a href="{% url 'events:index' %}#byLocation">Events</a></h3>
<ul id="events" class="card bulleted">
  {% for event in events %}
  <li><a href="{% url 'events:event' event.location.category_slug event.location.slug event.slug event.id %}" tabindex="{{ forloop.counter0 }}">{{ event.name }} at {{ event.location.name }} &ndash; {{ event.date_start|date:"D. n/j/y" }}{% if not event.all_day %} ({{ event.date_start|date:"g:i a" }}{% if event.date_end %}&ndash;{{ event.date_end|date:"g:i a" }}{% endif %}){% endif %}</a></li>
  {% empty %}
  <li class="empty">There are no upcoming events scheduled.</li>
  {% endfor %}
</ul>
<div class="rectangles">
  {% include 'home/ads/medium_rectangle42.html' %}
  {% include 'home/ads/medium_rectangle43.html' %}
  {% include 'home/ads/medium_rectangle44.html' %}
</div>
<h3 class="h3">Locations</h3>
<ul id="locations" class="card bulleted">
{% for location in locations %}
  <li><a href="{% url 'locations:location' location.category_slug location.slug location.id %}">{{ location.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}