<form id="updateLocationForm" class="card" action="{% url 'locations:update' category_slug location.slug location.id %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="neighborhood_id" autocomplete="off" value="{{ update_location_form.neighborhood.value }}" id="id_neighborhood_id">
  {{ update_location_form.name }}
  <div class="row">
    <label id="categoryLabel" class="form-control col-12 col-md-6" for="id_category">{{ update_location_form.category.label }}</label>
    {{ update_location_form.category }}
  </div>
  <input type="text" name="neighborhood" value="{{ location.neighborhood.name }}" autocomplete="off" placeholder="Neighborhood (enter name to search for existing or to create new)" required="" id="id_neighborhood" class="form-control">
  <div id="neighborhoodAutocompleteLocation"></div>
  <div class="address">
    {{ update_location_form.address1 }}
    {{ update_location_form.address2 }}
  </div>
  <div class="row city-state-zip">
    {{ update_location_form.city }}
    {{ update_location_form.state }}
    {{ update_location_form.zip_code }}
  </div>
  {{ update_location_form.website }}
  <input type="text" name="phone" value="{{ location.display_phone }}" class="form-control col-12" placeholder="Phone (optional)" autocomplete="off" id="id_phone">
  <div id="noKitchenContainer"{% if location.category != 0 and location.category != 2 %} style="display: none;"{% endif %}>
    <div class="input-group input-group-checkbox" data-target-input="nearest">
      <label class="form-control" for="{{ update_location_form.no_kitchen.id_for_label }}">{{ update_location_form.no_kitchen.label }}</label>
      <div class="input-group-append">
        {{ update_location_form.no_kitchen }}
      </div>
    </div>
  </div>
  <input class="btn btn-primary" type="submit" value="Update">
</form>
