.contact-list
  list-style: none

  li
    text-align: center

    i
      margin-right: .5rem
      color: $cyan
      vertical-align: middle

    a
      color: $light-blue
      @include transition(color)

      &:hover
        color: $cyan
