{% extends 'home/global_base.html' %}{% load static %}

{% block internal_stylesheets %}  <!-- Events App CSS -->
  <link rel="stylesheet" href="{% static 'events/css/events.min.css' %}">

{% endblock %}

{% block internal_stylesheet_libraries %}  <!-- Tempus Dominus CSS -->
  <link
    rel="stylesheet"
    href="{% static '/lib/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css' %}">

{% endblock %}

{% block external_stylesheet_libraries %}  <!-- Tempus Dominus CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css"
    integrity="sha384-Re/I8sla3AIFEoz6DrgkHWaLDSWKXaLOYm5yn3Gwmf/QhWS3/ajG7O2qr1zBmF3d"
    crossorigin="anonymous">

{% endblock %}

{% block internal_scripts %}  <!-- Events App JS -->
  <script type="text/javascript" src="{% static 'events/js/events.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'events/js/update_event.min.js' %}"></script>

{% endblock %}

{% block internal_script_libraries %}  <!-- Internal Script Libraries -->

  <!-- Moment.js JS -->
  <script
    type="text/javascript"
    src="{% static '/lib/moment.js/2.23.0/moment.min.js' %}"></script>

  <!-- Tempus Dominus JS -->
  <script
    type="text/javascript"
    src="{% static '/lib/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js' %}"></script>

{% endblock %}

{% block external_script_libraries %}  <!-- Moment.js JS -->
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
    integrity="sha384-bunvTFmdcliXRaa0bTXLrjm90OPHwbRgMLqTq9px8MTIpcfU60gnln3k+XsjG1th"
    crossorigin="anonymous"></script>

  <!-- Tempus Dominus JS -->
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"
    integrity="sha384-97pmbvZb0qdIXSwrjd4JuG6+4TJhp4eL0totTka0FF1Bf2E42dPiSXsqq09yQxjD"
    crossorigin="anonymous"></script>

{% endblock %}

{% block h1 %}{% if event %}{{ event.name }} <span class="text-nowrap">({{ event.date_start|date:"D. N j" }})</span>{% else %}Events{% endif %}{% endblock %}
