{% for card in by_date.calendar %}
{% if card.events|length > 0 %}
<div id="{{ card.date.day }}" class="card">
  <h3 class="h3 text-center">{{ card.date.day }}</h3>
  <ul class="events">
    {% for event in card.events %}
    <li>
      {% if event.event.all_day and event.event.location == none %}
      <h5 class="h5 holiday">{{ event.event.name }}</h5>
      {% else %}
      <h5 class="h5"><a href="{% url 'events:event' category=event.category location_name=event.event.location.slug event_name=event.event.slug event_id=event.event.id %}" tabindex="{{ event.tabindex }}">{{ event.event.name }}{% if event.event.location %} at <span data-id="{{ event.event.location.id }}">{{ event.event.location.name }}</span>{% endif %} <span class="text-nowrap">{% if event.event.all_day %}(All Day){% else %}({{ event.event.date_start|date:"g:i a" }}{% if event.event.date_end %}&ndash;{{ event.event.date_end|date:"g:i a" }}{% endif %}){% endif %}</span></a></h5>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endfor %}