{% for card in by_date.calendar %}
{% if card.events|length > 0 %}
<div class="card">
  <h3 id="{{ card.date.day }}" class="h3 text-center">{{ card.date.day }}</h3>
  <ul class="events">
    {% for event in card.events %}
    <li>
      {% if event.all_day and event.location == none %}
      <h5 class="h5 holiday">{{ event.name }}</h5>
      {% else %}
      <h5 class="h5">{{ event.name }}{% if event.location %} at <span data-id="{{ event.location.id }}">{{ event.location.name }}</span>{% endif %} <span class="text-nowrap">{% if event.all_day %}(All Day){% else %}({{ event.date_start|date:"g:i a" }}{% if event.date_end %}&ndash;{{ event.date_end|date:"g:i a" }}{% endif %}){% endif %}</span></h5>
      {% endif %}
      {% if event.description %}
      {{ event.description|linebreaks }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endfor %}