{% for card in by_date.calendar %}
{% if card.events|length > 0 %}
<div class="card">
  <h3 id="{{ card.date.day }}" class="h3 text-center">{{ card.date.day }}</h3>
  <ul class="events">
    {% for event in card.events %}
    <li>
      {% if event.date_start.hour == 0 and event.date_end == None %}
      <h5 class="h5 all-day">{{ event.name }}</h5>
      {% else %}
      <h5 class="h5">{{ event.name }}{% if event.location %} &ndash; <span data-id="{{ event.location.id }}">{{ event.location.name }}</span>{% endif %}</h5>
      {% endif %}
      {% if event.description %}
      {{ event.description|linebreaks }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endfor %}