{% for location in by_location.locations %}
<div class="card">
  <h3 id="{{ location.location.id }}" class="h3">{{ location.location.name }}</h3>
  {% for day in location.event_tree %}
  <ul class="day">
    <li>
      <h3 class="h3 text-center">{{ day.date|date:"j" }}</h3>
      <ul class="events">
      {% for event in day.events %}
        <li>
          <h5 class="h5"><a href="{% url 'events:event' category=event.category location_name=event.event.location.slug event_name=event.event.slug event_id=event.event.id %}" tabindex="{{ event.tabindex }}">{{ event.event.name }} <span class="text-nowrap">{% if event.event.all_day %}(All Day){% else %}({{ event.event.date_start|date:"g:i a" }}{% if event.event.date_end %}&ndash;{{ event.event.date_end|date:"g:i a" }}{% endif %}){% endif %}</span></a></h5>
        </li>
      {% endfor %}
      </ul>
    </li>
  </ul>
  {% endfor %}
</div>
{% endfor %}