{% for location in by_location.locations %}
<div class="card">
  <h3 id="{{ location.location.id }}" class="h3">{{ location.location.name }}</h3>
  {% for day in location.event_tree %}
  <ul class="day">
    <li>
      <h3 class="h3 text-center">{{ day.date|date:"j" }}</h3>
      <ul class="events">
      {% for event in day.events %}
        <li>
          <h5 class="h5">{{ event.name }} {% if event.all_day %}(All Day){% else %}({{ event.date_start|date:"g:ia" }}{% if event.date_end %}&ndash;{{ event.date_end|date:"g:ia" }}{% endif %}){% endif %}</h5>
          {% if event.description %}
          {{ event.description|linebreaks }}
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </li>
  </ul>
  {% endfor %}
</div>
{% endfor %}