<form id="createEventForm" action="{% url 'events:create' %}" method="POST">
  {% csrf_token %}
  <input class="form-control" type="text" name="name" placeholder="Name" required>
  <textarea class="form-control" name="description" placeholder="Description (optional)" rows="5" maxlength="1000"></textarea>
  <div id="allDayInputGroup" class="input-group" data-target-input="nearest">
    <label class="form-control" for="allDay">All Day</label>
    <div class="input-group-append">
      <input id="allDay" type="checkbox" name="all-day" value="true" autocomplete="off">
    </div>
  </div>
  <div id="dateStartInputGroup" class="input-group" data-target-input="nearest">
    <input id="dateStart" class="form-control datetimepicker-input" type="text" name="date-start" placeholder="Start Date/Time (click icon to show date picker)" data-target="#dateStartInputGroup" required>
    <div class="input-group-append" data-target="#dateStartInputGroup" data-toggle="datetimepicker">
      <div class="form-control input-group-text calendar">
        <i class="fa fa-calendar text-center"></i>
      </div>
    </div>
  </div>
  <div id="dateEndInputGroup" class="input-group" data-target-input="nearest">
    <input id="dateEnd" class="form-control datetimepicker-input" type="text" name="date-end" placeholder="End Date/Time (optional)" data-target="#dateEndInputGroup">
    <div class="input-group-append" data-target="#dateEndInputGroup" data-toggle="datetimepicker">
      <div class="form-control input-group-text calendar">
        <i class="fa fa-calendar"></i>
      </div>
    </div>
  </div>
  <div class="form-inline">
    <label class="form-control col-12 col-md-4" for="frequency">Repeat every:</label>
    <input id="frequency" class="form-control col-6 col-md-4" type="number" name="frequency" min="1" value="1" required>
    <select class="form-control col-6 col-md-4" name="frequency-units">
      <option value="0">No Repeat</option>
      <option value="1">Day(s)</option>
      <option value="2">Week(s)</option>
      <option value="3">Month(s)</option>
      <option value="4">Year(s)</option>
    </select>
  </div>
  <button id="advancedRepeatToggle" class="btn form-control">Advanced Repeat Options <i class="fa fa-chevron-down"></i></button>
  <div id="advancedRepeatCollapse">
    <label class="form-control" for="weekdayList">On weekday(s):</label>
    <ul id="weekdayList">
      <li>
        <label for="sunday">S</label>
        <input id="sunday" type="checkbox" name="weekday-list" value="sunday" autocomplete="off">
      </li>
      <li>
        <label for="monday">M</label>
        <input id="monday" type="checkbox" name="weekday-list" value="monday" autocomplete="off">
      </li>
      <li>
        <label for="tuesday">T</label>
        <input id="tuesday" type="checkbox" name="weekday-list" value="tuesday" autocomplete="off">
      </li>
      <li>
        <label for="wednesday">W</label>
        <input id="wednesday" type="checkbox" name="weekday-list" value="wednesday" autocomplete="off">
      </li>
      <li>
        <label for="thursday">T</label>
        <input id="thursday" type="checkbox" name="weekday-list" value="thursday" autocomplete="off">
      </li>
      <li>
        <label for="friday">F</label>
        <input id="friday" type="checkbox" name="weekday-list" value="friday" autocomplete="off">
      </li>
      <li>
        <label for="saturday">S</label>
        <input id="saturday" type="checkbox" name="weekday-list" value="saturday" autocomplete="off">
      </li>
    </ul>
    <select id="ends" class="form-control col-12" name="ends" autocomplete="off">
      <option value="0" selected>Ends after maximum duration (1 year)</option>
      <option value="1">Ends on date</option>
      <option value="2">Ends after number of occurences</option>
    </select>
    <div id="endsOnContainer">
      <div id="endsOn" class="input-group" data-target-input="nearest">
        <input id="endsOnInput" class="form-control datetimepicker-input" type="text" name="ends-on" placeholder="Ends on" data-target="#endsOn">
        <div class="input-group-append" data-target="#endsOn" data-toggle="datetimepicker">
          <div class="form-control input-group-text calendar">
            <i class="fa fa-calendar text-center"></i>
          </div>
        </div>
      </div>
    </div>
    <input id="endsAfter" class="form-control" type="number" name="ends-after" min="1" placeholder="Number of occurences">
  </div>
  <input id="locationId" type="hidden" name="location-id" value="0" autocomplete="off">
  <div id="locationInputGroup" class="input-group" data-target-input="nearest">
    <input id="locationName" class="form-control" type="text" name="location-name" placeholder="Location (search for existing or leave blank)" autocomplete="off">
    <div id="locationToggle" class="input-group-append">
      <div class="form-control input-group-text">
        <i class="fas fa-map-marker-alt"></i>
      </div>
    </div>
  </div>
  <div id="locationAutocomplete"></div>
  <input id="albumId" type="hidden" name="album-id" value="0" autocomplete="off">
  <div id="albumInputGroup" class="input-group" data-target-input="nearest">
    <input id="albumName" class="form-control" type="text" name="album-name" placeholder="Album (search for existing or leave blank)" autocomplete="off">
    <div id="albumToggle" class="input-group-append">
      <div class="form-control input-group-text">
        <i class="fas fa-images"></i>
      </div>
    </div>
  </div>
  <div id="albumAutocompleteEvent"></div>
  <input class="btn btn-primary form-control" type="submit" value="Submit">
</form>
