<form id="deleteEventForm" action="{% url 'events:delete' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="id" value="{{ event.id }}">
  {% if recurring %}
  <div id="singleEventInputGroupDelete" class="input-group m-bottom-0">
    <label class="form-control" for="singleEventDelete">Delete only this instance</label>
    <div class="input-group-append">
      <input id="singleEventDelete" type="radio" name="delete" value="single-event">
    </div>
  </div>
  <div id="allEventsInputGroupDelete" class="input-group">
    <label class="form-control" for="allEventsDelete">Delete this instance and all following instances</label>
    <div class="input-group-append">
      <input id="allEventsDelete" type="radio" name="delete" value="multiple-events">
    </div>
  </div>
  {% else %}
  <input type="hidden" name="delete" value="single-event">
  {% endif %}
</form>