{% extends 'events/base.html' %}{% load static %}{% block content %}
{% include 'home/messages.html' %}
<p id="breadcrumbs">
  {% if event.location %}
  <a href="{% url 'home:category' category_slug %}">{{ category_name }}</a>
  <i class="fas fa-chevron-right"></i>
  <a href="{% url 'locations:location' category_slug event.location.slug event.location.id %}">{{ event.location.name }}</a>
  <i class="fas fa-chevron-right"></i>
  {{ event.name }}
  {% else %}
  <a href="{% url 'home:category' category_slug %}">{{ category_name }}</a>
  <i class="fas fa-chevron-right"></i>
  {{ event.name }}
  {% endif %}
</p>
<h3 class="h3">Details</h3>
<div class="card">
  <table id="details">
    <tbody>
      <tr>
        <td>Time</td>
        <td>{% if event.all_day %}All Day{% else %}{{ event.date_start|date:"g:i a" }}{% if event.date_end %}&ndash;{{ event.date_end|date:"g:i a" }}{% endif %}{% endif %}</td>
      </tr>
      <tr>
        <td>Location</td>
        {% if event.location %}
        <td><a href="{% url 'locations:location' category_slug event.location.slug event.location.id %}">{{ event.location.name }}</a><br>
        {{ event.location.address1 }}<br>{% if event.location.address2 %}
        {{ event.location.address2 }}<br>{% endif %}
        {{ event.location.city }}, {{ event.location.state }}{% if event.location.zip_code %} {{ event.location.zip_code }}{% endif %}</td>
        {% else %}
        <td>undefined</td>
        {% endif %}
      </tr>
      {% if event.description %}<tr>
        <td>Description</td>
        <td>{{ event.description|linebreaks }}</td>
      </tr>{% endif %}
      {% if next_event %}<tr>
        <td>Next Event</td>
        <td><a href="{% url 'events:event' category_slug 'undefined' next_event.slug next_event.id %}">{{ next_event.date_start|date:"F j, Y" }}</a></td>
      </tr>{% endif %}
    </tbody>
  </table>
</div>
{% if event.location %}
<h3 class="h3">Map</h3>
<div id="map" class="card">
  <iframe src="https://www.google.com/maps/embed/v1/place?q={{ event.location.name|urlencode }}%20{{ event.location.address1|urlencode }}%20{{ event.location.city|urlencode }}%2C%20{{ event.location.state|urlencode }}{% if event.location.zip_code %}%20{{ event.location.zip_code|urlencode }}{% endif %}&key={{ API_KEY }}" allowfullscreen></iframe>
</div>
{% endif %}
{% if user.is_superuser %}
<h3 class="h3">Update</h3>
{% include 'events/update_event.html' %}
<h3 class="h3">Delete</h3>
{% include 'events/delete_event.html' %}
{% endif %}
{% endblock %}