<li class="event card">
  <h2 class="h2"><a href="{% url 'events:event' event.location.category_slug event.location.slug event.slug event.id %}">{{ event.name }} at {{ event.location.name }}</a></h2>
  <p class="info">Created on {{ event.date_created|date:"N j, Y." }}</p>
  <div class="cal-preview">
    <h3 class="h3 text-center">{{ event.date_start|date:"D. N" }}</h3>
    <h1 class="h1 text-center">{{ event.date_start|date:"j" }}</h1>
    <p class="text-center">{{ event.date_start|date:"g:i a" }}</p>
  </div>
</li>