{% extends 'events/base.html' %}{% load static %}

{% block large_mobile_banner1 %}
<!-- </div> -->
{# include 'home/ads/large_mobile_banner17.html' #}
{% endblock %}

{% block leaderboard1 %}
{# include 'home/ads/leaderboard17.html' #}
<!-- <div class="container"> -->
{% endblock %}

{% block large_mobile_banner2 %}
{# include 'home/ads/large_mobile_banner18.html' #}
{% endblock %}

{% block leaderboard2 %}
{# include 'home/ads/leaderboard18.html' #}
{% endblock %}

{% block medium_rectangle1a %}
{# include 'home/ads/medium_rectangle49a.html' #}
{% endblock %}

{% block content %}
{% include 'home/messages.html' %}
<p id="breadcrumbs">
  {% if event.location %}
  {% if category_name == 'Nightlife & Restaurants' %}<a href="{% url 'home:category' 'nightlife' %}">Nightlife</a> <span>/</span> <a href="{% url 'home:category' 'restaurants' %}">Restaurants</a>{% else %}<a href="{% url 'home:category' category_slug %}">{{ category_name }}</a>{% endif %}
  <i class="fas fa-chevron-right"></i>
  <a href="{% url 'locations:neighborhood' event.location.neighborhood.slug event.location.neighborhood.id %}">{{ event.location.neighborhood.name }}</a>
  <i class="fas fa-chevron-right"></i>
  <a href="{% url 'locations:location' category_slug event.location.slug event.location.id %}">{{ event.location.name }}</a>
  <i class="fas fa-chevron-right"></i>
  {% endif %}
  <a href="{% url 'events:index' %}">Events</a>
  <i class="fas fa-chevron-right"></i>
  {{ event.name }}
</p>
<h3 class="h3">Details</h3>
<div class="card">
  <p class="info">Created on {{ event.date_created|date:"N j, Y." }}{% if event.updated_later %} <span class="text-nowrap">Updated {{ event.date_updated|date:"N j, Y." }}</span>{% endif %} <span class="text-nowrap"></span></p>
  <table id="details">
    <tbody>
      <tr>
        <td>Time</td>
        <td>{% if event.all_day %}All Day{% else %}{{ event.date_start|date:"g:i a" }}{% if event.date_end %}&ndash;{{ event.date_end|date:"g:i a" }}{% endif %}{% endif %}</td>
      </tr>
      <tr>
        <td>Location</td>
        {% if event.location %}
        <td><a href="{% url 'locations:location' category_slug event.location.slug event.location.id %}">{{ event.location.name }}</a><br>
        {{ event.location.address1 }}<br>{% if event.location.address2 %}
        {{ event.location.address2 }}<br>{% endif %}
        {{ event.location.city }}, {{ event.location.state }}{% if event.location.zip_code %} {{ event.location.zip_code }}{% endif %}</td>
        {% else %}
        <td class="undefined">undefined</td>
        {% endif %}
      </tr>
      {% if event.description %}<tr>
        <td>Description</td>
        <td>{{ event.description|linebreaks }}</td>
      </tr>{% endif %}
      {% if next_event %}<tr>
        <td>Next Event</td>
        <td><a href="{% url 'events:event' category_slug 'undefined' next_event.slug next_event.id %}">{{ next_event.date_start|date:"F j, Y" }}</a></td>
      </tr>{% endif %}
    </tbody>
  </table>
</div>
<div class="rectangles">
  {# include 'home/ads/medium_rectangle49b.html' #}
  {# include 'home/ads/medium_rectangle50.html' #}
  {# include 'home/ads/medium_rectangle51.html' #}
  {# include 'home/ads/medium_rectangle52.html' #}
</div>
{% if event.album %}
<h3 class="h3"><a href="{% url 'images:album' event.album.slug event.album.id %}">{{ event.album.title }}</a></h3>
<div class="card">
  <div id="album">
  {% for image in images_preview %}
    <div>
      <a data-fancybox="gallery" href="{{ image.image.url }}" data-id="{{ image.id }}">
        <img src="{{ image.thumbnail.url }}">
      </a>
    </div>
  {% endfor %}
  {% if images|length > 15 %}
  <a class="see-more text-center" href="{% url 'images:album' event.album.slug event.album.id %}">
    <i class="fas fa-chevron-circle-right"></i>
    <br>
    More
  </a>
  {% endif %}
  </div>
</div>
{% endif %}
{% if event.location %}
<h3 class="h3">Map</h3>
<div id="map" class="card">
  <iframe src="https://www.google.com/maps/embed/v1/place?q={{ event.location.name|urlencode }}%20{{ event.location.address1|urlencode }}%20{{ event.location.city|urlencode }}%2C%20{{ event.location.state|urlencode }}{% if event.location.zip_code %}%20{{ event.location.zip_code|urlencode }}{% endif %}&key={{ GOOGLE_MAPS_API_KEY }}" allowfullscreen></iframe>
</div>
{% endif %}
{% if request.user.is_superuser %}
<h3 class="h3">Update Event</h3>
{% include 'events/update_event.html' %}
<h3 class="h3">Delete Event</h3>
<div class="card">
  {% include 'events/delete_event_form.html' %}
  <button id="deleteEventButton" class="btn btn-danger form-control" data-toggle="modal" data-target="#deleteEventModal">Delete</button>
</div>
{% include 'events/delete_event_modal.html' %}
{% endif %}
{% endblock %}