{% extends 'events/base.html' %}{% load static %}

{% block large_mobile_banner1 %}
{% include 'home/ads/large_mobile_banner08.html' %}
{% endblock %}

{% block leaderboard1 %}
{% include 'home/ads/leaderboard08.html' %}
{% endblock %}

{% block large_mobile_banner2 %}
{% include 'home/ads/large_mobile_banner09.html' %}
{% endblock %}

{% block leaderboard2 %}
{% include 'home/ads/leaderboard09.html' %}
{% endblock %}

{% block medium_rectangle1a %}
{% include 'home/ads/medium_rectangle29a.html' %}
{% endblock %}

{% block medium_rectangle1b %}
{% include 'home/ads/medium_rectangle29b.html' %}
{% endblock %}

{% block content %}
{% include 'home/messages.html' %}
<ul id="tabs">
  <li id="tabsCalendar" data-href="#calendar">Calendar</li>
  <li id="tabsByDate" data-href="#byDate">by Date</li>
  <li id="tabsByLocation" data-href="#byLocation">by Location</li>
</ul>
<div id="calendarControls">
  <i id="prev" class="fas fa-arrow-left disabled" data-year="{{ prev|date:'Y' }}" data-month="{{ prev|date:'n' }}"></i>
  <h3 class="h3 text-center month">{{ calendar.date|date:"F Y" }}</h3>
  <i id="next" class="fas fa-arrow-right" data-year="{{ next|date:'Y' }}" data-month="{{ next|date:'n' }}"></i>
</div>
<div id="month">
  <input type="hidden" name="year" value="{{ calendar.date.year }}">
  <input type="hidden" name="month" value="{{ calendar.date.month }}">
</div>
<div id="calendarView">
  {% include 'events/month.html' %}
</div>
<div id="byDateView">
  {% include 'events/by_date.html' %}
</div>
<div id="byLocationView">
  {% include 'events/by_location.html' %}
</div>
<div class="rectangles">
  {% include 'home/ads/medium_rectangle30.html' %}
  {% include 'home/ads/medium_rectangle31.html' %}
  {% include 'home/ads/medium_rectangle32.html' %}
</div>
{% endblock %}