{% extends 'events/base.html' %}{% load static %}{% block content %}<h1 class="h1 text-center">Market to Market Chicago (<span id="page">Events</span>)</h1>
<ul id="tabs">
  <li class="active" data-href="#calendar">Calendar</li>
  <li data-href="#byDate">by Date</li>
  <li data-href="#byLocation">by Location</li>
</ul>
<div id="calendarControls">
  <i id="prev" class="fas fa-arrow-left disabled"></i>
  <h3 class="h3 text-center month">{{ date|date:"F" }}</h3>
  <i id="next" class="fas fa-arrow-right"></i>
</div>
<div id="calendarDate">
  <input type="hidden" name="year" value="{{ date.year }}">
  <input type="hidden" name="month" value="{{ date.month }}">
</div>
<div id="calendar">
  {% include 'events/month.html' %}
</div>
<div id="byDate">
  {% include 'events/by_date.html' %}
</div>
<div id="byLocation">
  {% include 'events/by_location.html' %}
</div>
{% endblock %}