{% extends 'home/base.html' %}{% load static %}

{% block large_mobile_banner1 %}
{# include 'home/ads/large_mobile_banner11.html' #}
{% endblock %}

{% block leaderboard1 %}
{# include 'home/ads/leaderboard11.html' #}
{% endblock %}

{% block medium_rectangle1a %}
{# include 'home/ads/medium_rectangle37a.html' #}
{% endblock %}

{% block content %}
{% include 'home/messages.html' %}
<section class="contact">
  <h3 class="h3">Contact</h3>
  <div class="text-center card">
    <h5 class="h5">
      <i class="fa fa-envelope"></i><a href="mailto:info@mtmchicago.com">info@mtmchicago.com</a>
    </h5>
    <h5 class="h5">
      <i class="fa fa-mobile"></i><a href="tel:+12244040873">(224) 404-0873</a>
    </h5>
  </div>
</section>
<div class="rectangles">
  {# include 'home/ads/medium_rectangle37b.html' #}
  {# include 'home/ads/medium_rectangle38.html' #}
  {# include 'home/ads/medium_rectangle39.html' #}
  {# include 'home/ads/medium_rectangle40.html' #}
</div>
<section class="about">
  <h3 class="h3">About Us</h3>
  <div class="card">
    <h5 class="h5">MTM Chicago</h5>
    <p>
      MTM Chicago. We are a website dedicated to the LGBT community in Chicago, the State of Illinois, and the surrounding region. We will be focusing on nightlife, dining, arts and entertainment, sports, mental and physical health, fitness, travel, fashion, retail and non-profit work.
    </p>
    <p>
      What makes us different from other media sites is the way we work with businesses and people in the community. We will not only help promote each business via social media, photo spreads, and editorials, but also getting the community to know about people behind the business. This is one of our main focuses.
    </p>
    <p>
      Our other areas of focus include events organization, management and promotion. We currently promote and organize Out at Wrigley and the many pre- and post-parties bookending the event. We were also brought on this past year to help promote the Blackhawks first official Pride Night.
    </p>
  </div>
  {% for contact in contacts %}
  <div class="card">
    <div class="info-flex">
      <div>
        <h5 class="h5">{{ contact.full_name }}</h5>
        <p>
          {{ contact.title }}<br>
          {% if contact.email %}
          <a href="mailto:{{ contact.email }}">{{ contact.email }}</a><br>
          {% endif %}
          {% if contact.phone %}
          <a href="tel:+1{{ contact.phone }}">{{ contact.display_phone }}</a><br>
          {% endif %}
          {% if contact.website %}
          <a href="{{ contact.website }}">{{ contact.website }}</a><br>
          {% endif %}
        </p>
      </div>
      <a data-fancybox="gallery" href="{{ contact.profile_image.image.url }}">
        <img src="{{ contact.profile_image.thumbnail.url }}">
      </a>
    </div>
    {{ contact.bio|linebreaks }}
    <h3 class="h3">Actions</h3>
    <div class="btn-container">
      <a class="btn btn-secondary" href="{% url 'home:update-contact' contact.id %}">Update</a>
      <a class="btn btn-danger" href="{% url 'home:delete-contact' contact.id %}">Delete</a>
    </div>
  </div>
  {% endfor %}
</section>
{# include 'home/ads/large_mobile_banner12.html' #}
{% endblock %}