{% extends 'home/global_base.html' %}{% load static %}

{% block internal_stylesheets %}  <!-- Home App CSS -->
  <link rel="stylesheet" href="{% static 'home/css/home.min.css' %}">

{% endblock %}

{% block body %}
  <div id="grid">
    {% include 'home/navbar.html' %}
    <section id="topics">
      {% include 'home/topics.html' %}
    </section>
    <section id="mediumRectangle1Container" class="d-none d-md-block">
      {% block medium_rectangle1a %}{% endblock %}
    </section>
    <section id="content">
      <div class="container">
        <h1 class="h1 text-center">{{ title }}</h1>
      </div>
      {% block large_mobile_banner1 %}{% endblock %}
      {% block leaderboard1 %}{% endblock %}
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </section>
    {% include 'home/footer.html' %}
  </div>
{% endblock %}
