{% extends 'home/base.html' %}{% load static %}{% block content %}{% include 'home/messages.html' %}
<h1 class="h1 text-center">{{ category_name }}</h1>
<section id="locations">
  <h3 class="h3">Locations</h3>
  <ul id="byNeighborhood">
    {% for neighborhood in locations_by_neighborhood %}
    {% if neighborhood.locations %}
    <li class="card">
      <h5 class="h5"><a href="{# url 'locations:neighborhood' neighborhood.neighborhood.slug neighborhood.neighborhood.id #}">{{ neighborhood.neighborhood.name }}</a></h5>
      <ul class="bulleted">
        {% for location in neighborhood.locations %}
        <li><a href="{% url 'locations:location' category_slug location.slug location.id %}">{{ location.name }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% empty %}
    <li class="empty-card">No locations to display.</li>
    {% endfor %}
  </ul>
</section>
<section id="articles">
  <input type="hidden" name="category-slug" value="{{ category_slug }}">
  <h3 class="h3">Articles</h3>
  {% include 'articles/article_category.html' %}
</ul>
{% endblock %}
