{% extends 'home/base.html' %}{% load static %}

{% block large_mobile_banner1 %}

{% if category_slug == 'nightlife' %}
{# include 'home/ads/large_mobile_banner02.html' #}
{# include 'home/ads/leaderboard02.html' #}
{% elif category_slug == 'restaurants' %}
{# include 'home/ads/large_mobile_banner03.html' #}
{# include 'home/ads/leaderboard03.html' #}
{% elif category_slug == 'arts-and-entertainment' %}
{# include 'home/ads/large_mobile_banner04.html' #}
{# include 'home/ads/leaderboard04.html' #}
{% elif category_slug == 'arts-and-entertainment' %}
{# include 'home/ads/large_mobile_banner04.html' #}
{# include 'home/ads/leaderboard04.html' #}
{% elif category_slug == 'health-and-fitness' %}
{# include 'home/ads/large_mobile_banner05.html' #}
{# include 'home/ads/leaderboard05.html' #}
{% elif category_slug == 'sports' %}
{# include 'home/ads/large_mobile_banner06.html' #}
{# include 'home/ads/leaderboard06.html' #}
{% elif category_slug == 'non-profit' %}
{# include 'home/ads/large_mobile_banner07.html' #}
{# include 'home/ads/leaderboard07.html' #}
{% elif category_slug == 'editorials-and-opinions' %}
{# include 'home/ads/large_mobile_banner24.html' #}
{# include 'home/ads/leaderboard24.html' #}
{% endif %}

{% endblock %}

{% block medium_rectangle1a %}

{% if category_slug == 'nightlife' %}
{% include 'home/ads/medium_rectangle05a.html' %}
{% elif category_slug == 'restaurants' %}
{# include 'home/ads/medium_rectangle09a.html' #}
{% elif category_slug == 'arts-and-entertainment' %}
{# include 'home/ads/medium_rectangle13a.html' #}
{% elif category_slug == 'health-and-fitness' %}
{# include 'home/ads/medium_rectangle17a.html' #}
{% elif category_slug == 'sports' %}
{# include 'home/ads/medium_rectangle21a.html' #}
{% elif category_slug == 'non-profit' %}
{# include 'home/ads/medium_rectangle25a.html' #}
{% elif category_slug == 'editorials-and-opinions' %}
{# include 'home/ads/medium_rectangle65a.html' #}
{% endif %}

{% endblock %}

{% block js %}
<!-- <script type="text/javascript" src="{% static 'home/js/infinite_scroll_category.js' %}"></script> -->
<script type="text/javascript" src="{% static 'home/js/infinite_scroll_category.min.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'home/messages.html' %}
{% if title != 'Editorials & Opinions' %}
<section id="locations">
  <h3 class="h3">Locations</h3>
  <ul id="byNeighborhood">
    {% for neighborhood in locations_by_neighborhood %}
    {% if neighborhood.locations %}
    <li class="card">
      <h5 class="h5"><a href="{% url 'locations:neighborhood' neighborhood.neighborhood.slug neighborhood.neighborhood.id %}">{{ neighborhood.neighborhood.name }}</a></h5>
      <ul class="bulleted">
        {% for location in neighborhood.locations %}
        <li{% if category_slug == 'restaurants' and location.category == 2 and location.no_kitchen %} class="asterisk"{% endif %}><a href="{% if location.category == 2 %}{% url 'locations:location' 'nightlife-restaurants' location.slug location.id %}{% else %}{% url 'locations:location' category_slug location.slug location.id %}{% endif %}">{{ location.name }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% empty %}
    <li class="empty-card">No locations to display.</li>
    {% endfor %}
  </ul>
  {% if category_slug == 'restaurants' %}
  <p class="empty-card">* locations that do not have a kitchen but allow outside food</p>
  {% endif %}
</section>
{% endif %}
<section class="rectangles">
  {% if category_slug == 'nightlife' %}
  {% include 'home/ads/medium_rectangle05b.html' %}
  {# include 'home/ads/medium_rectangle06.html' #}
  {# include 'home/ads/medium_rectangle07.html' #}
  {# include 'home/ads/medium_rectangle08.html' #}
  {% elif category_slug == 'restaurants' %}
  {# include 'home/ads/medium_rectangle09b.html' #}
  {# include 'home/ads/medium_rectangle10.html' #}
  {# include 'home/ads/medium_rectangle11.html' #}
  {# include 'home/ads/medium_rectangle12.html' #}
  {% elif category_slug == 'arts-and-entertainment' %}
  {# include 'home/ads/medium_rectangle13b.html' #}
  {# include 'home/ads/medium_rectangle14.html' #}
  {# include 'home/ads/medium_rectangle15.html' #}
  {# include 'home/ads/medium_rectangle16.html' #}
  {% elif category_slug == 'health-and-fitness' %}
  {# include 'home/ads/medium_rectangle17b.html' #}
  {# include 'home/ads/medium_rectangle18.html' #}
  {# include 'home/ads/medium_rectangle19.html' #}
  {# include 'home/ads/medium_rectangle20.html' #}
  {% elif category_slug == 'sports' %}
  {# include 'home/ads/medium_rectangle21b.html' #}
  {# include 'home/ads/medium_rectangle22.html' #}
  {# include 'home/ads/medium_rectangle23.html' #}
  {# include 'home/ads/medium_rectangle24.html' #}
  {% elif category_slug == 'non-profit' %}
  {# include 'home/ads/medium_rectangle25b.html' #}
  {# include 'home/ads/medium_rectangle26.html' #}
  {# include 'home/ads/medium_rectangle27.html' #}
  {# include 'home/ads/medium_rectangle28.html' #}
  {% elif category_slug == 'editorials-and-opinions' %}
  {# include 'home/ads/medium_rectangle65b.html' #}
  {# include 'home/ads/medium_rectangle66.html' #}
  {# include 'home/ads/medium_rectangle67.html' #}
  {# include 'home/ads/medium_rectangle68.html' #}
  {% endif %}
</section>
<section id="feed">
  <input type="hidden" name="category-slug" value="{{ category_slug }}">
  <h3 class="h3">Articles & Photo Albums</h3>
  <ul id="categoryFeed">
    {% include 'home/category_feed.html' %}
  </ul>
</ul>
{% endblock %}
