{% load static %}
<nav id="navbar" class="navbar navbar-default navbar-expand-md navbar-dark">
  {% include 'home/social.html' %}
  <a class="navbar-brand" href="{% url 'home:index' %}">MTM Chicago</a>
  <button id="navbarMenuButton" class="d-md-none ml-auto" type="button">
    <i class="fas fa-bars fa-2x"></i>
  </button>
  <div id="navbarCollapse" class="ml-auto">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:about' %}">About Us/Contact</a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:index' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
      </li>
      {% endif %}
      <li class="d-md-none nav-item">
        <a class="nav-link" href="{% url 'home:category' 'nightlife' %}">Nightlife</a class="nav-link">
      </li>
      <li class="d-md-none nav-item">
        <a class="nav-link" href="{% url 'home:category' 'restaurants' %}">Restaurants</a>
      </li>
      <li class="d-md-none nav-item">
        <a class="nav-link" href="{% url 'home:category' 'arts-and-entertainment' %}">Arts &amp; Entertainment</a>
      </li>
      <li class="d-md-none nav-item">
        <a class="nav-link" href="{% url 'home:category' 'health-and-fitness' %}">Health &amp; Fitness</a>
      </li>
      <li class="d-md-none nav-item">
        <a class="nav-link" href="{% url 'home:category' 'sports' %}">Sports</a>
      </li>
      <li class="d-md-none nav-item">
        <a class="nav-link" href="{% url 'home:category' 'non-profit' %}">Non-profit</a>
      </li>
      <li class="d-md-none nav-item">
        <a class="nav-link" href="{% url 'home:category' 'editorials-and-opinions' %}">Editorials &amp; Opinions</a>
      </li>
      <li class="d-md-none nav-item">
        <a class="nav-link" href="{% url 'events:index' %}">Events</a>
      </li>
      <li class="d-md-none nav-item">
        <a class="nav-link" href="{% url 'home:people-to-know' %}">People to Know</a>
      </li>
    </ul>
  </div>
</nav>