{% load custom_tags %}
{% for item in feed %}
{% render_news_item request item as news_item %}
{{ news_item|safe }}
{% if forloop.counter0|modulo:15 == 4 %}
{% if ads_order.0 == 0 %}
{% include 'home/ads/medium_rectangle2.html' %}
{% elif ads_order.0 == 1 %}
{% include 'home/ads/medium_rectangle3.html' %}
{% elif ads_order.0 == 2 %}
{% include 'home/ads/medium_rectangle4.html' %}
{% endif %}
{% elif forloop.counter0|modulo:15 == 9 %}
{% if ads_order.1 == 0 %}
{% include 'home/ads/medium_rectangle2.html' %}
{% elif ads_order.1 == 1 %}
{% include 'home/ads/medium_rectangle3.html' %}
{% elif ads_order.1 == 2 %}
{% include 'home/ads/medium_rectangle4.html' %}
{% endif %}
{% elif forloop.counter0|modulo:15 == 14 %}
{% if ads_order.2 == 0 %}
{% include 'home/ads/medium_rectangle2.html' %}
{% elif ads_order.2 == 1 %}
{% include 'home/ads/medium_rectangle3.html' %}
{% elif ads_order.2 == 2 %}
{% include 'home/ads/medium_rectangle4.html' %}
{% endif %}
{% endif %}
{% endfor %}
