<li class="person card">
  <h3 class="h3">{{ person.full_name }}</h3>
  <p class="info">Created on {{ person.date_created|date:"N j, Y." }}{% if person.updated_later %} <span class="text-nowrap">Updated {{ person.date_updated|date:"N j, Y." }}</span>{% endif %} <span class="text-nowrap">From <a href="{% url 'home:people-to-know' %}">People to Know</a>.</span></p>
  <a class="text-center" data-fancybox="gallery" href="{{ person.image.url }}">
    <img src="{{ person.image.url }}" style="max-width: {{ person.image.width }}px;" alt="{{ person.full_name }}">
  </a>
  {{ person.bio|linebreaks }}
  {% if person.phone or person.email %}
  <h3 class="h3">Contact</h3>
  {% endif %}
  {% if person.phone %}
  <h5 class="h5 text-center"><i class="fa fa-mobile" aria-hidden="true"></i> <a href="tel:+1{{ person.phone }}">{{ person.display_phone }}</a></h5>
  {% endif %}
  {% if person.email %}
  <h5 class="h5 text-center"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{ person.email }}">{{ person.email }}</a></h5>
  {% endif %}
</li>