<li class="person card">
  <h3 class="h3"><a href="{% url 'home:people-to-know' %}">{{ person.full_name }}</a></h3>
  <p class="info">Created on {{ person.date_created|date:"N j, Y." }}{% if person.updated_later %} <span class="text-nowrap">Updated {{ person.date_updated|date:"N j, Y." }}</span>{% endif %} <span class="text-nowrap">From <a href="{% url 'home:people-to-know' %}">People to Know</a>.</span></p>
  {% if person.profile_image.image and person.profile_image.thumbnail %}
  <a class="profile-image" style="max-width: {{ person.profile_image.thumbnail.width }}px;" data-fancybox="gallery" href="{{ person.profile_image.image.url }}">
    <img src="{{ person.profile_image.thumbnail.url }}" alt="{{ person.full_name }}">
  </a>
  {% endif %}
  {{ person.bio|linebreaks|truncatewords:100 }}
  {% if person.phone or person.email or person.website %}
  <h3 class="h3 text-center">Contact</h3>
  {% endif %}
  {% if person.phone %}
  <h5 class="h5 text-center"><i class="fa fa-mobile" aria-hidden="true"></i> <a href="tel:+1{{ person.phone }}">{{ person.display_phone }}</a></h5>
  {% endif %}
  {% if person.email %}
  <h5 class="h5 text-center"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{ person.email }}">{{ person.email }}</a></h5>
  {% endif %}
  {% if person.website %}
  <h5 class="h5 text-center"><i class="fas fa-link"></i> <a href="{{ person.website }}">{{ person.website }}</a></h5>
  {% endif %}
</li>