auth
db.sqlite3
env
.vscode
media
mtm/__pycache__
home/__pycache__
home/migrations/__pycache__
home/templatetags/__pycache__
users/__pycache__
users/migrations/__pycache__
events/__pycache__
events/migrations/__pycache__
locations/__pycache__
locations/migrations/__pycache__
images/__pycache__
images/migrations/__pycache__
articles/__pycache__
articles/migrations/__pycache__
