{% extends 'images/base.html' %}

{% block large_mobile_banner1 %}
{# include 'home/ads/large_mobile_banner21.html' #}
{% endblock %}

{% block leaderboard1 %}
{# include 'home/ads/leaderboard21.html' #}
{% endblock %}

{% block large_mobile_banner2 %}
{# include 'home/ads/large_mobile_banner22.html' #}
{% endblock %}

{% block leaderboard2 %}
{# include 'home/ads/leaderboard22.html' #}
{% endblock %}

{% block medium_rectangle1a %}
{# include 'home/ads/medium_rectangle57a.html' #}
{% endblock %}

{% block content %}
{% include 'home/messages.html' %}
<div class="rectangles">
  {# include 'home/ads/medium_rectangle57b.html' #}
  {# include 'home/ads/medium_rectangle58.html' #}
  {# include 'home/ads/medium_rectangle59.html' #}
  {# include 'home/ads/medium_rectangle60.html' #}
</div>
{% if user.is_superuser or user.id == album.created_by.id %}
<div id="controls">
  <button id="updateTitleButton" class="btn btn-secondary">Update Title</button>
  <button id="addImagesButton" class="btn btn-secondary">Add Images</button>
  {% if album.feed %}
  <a class="btn btn-secondary" href="{% url 'images:feed-toggle' album.slug album.id %}">Hide from News Feeds</a>
  {% else %}
  <a class="btn btn-secondary" href="{% url 'images:feed-toggle' album.slug album.id %}">Show on News Feeds</a>
  {% endif %}
  {% if images %}
  <button id="deleteImagesButton" class="btn btn-secondary">Delete Images</button>
  {% endif %}
  <button id="deleteAlbumButton" class="btn btn-secondary" data-toggle="modal" data-target="#deleteAlbumModal">Delete Album</button>
</div>
<div id="updateTitle" class="card">
  <h3 class="h3">Update Album Title</h3>
  {% include 'images/update_album_title.html' %}
</div>
<div id="addImages" class="card">
  <h3 class="h3">Add Image(s) to Album</h3>
  {% include 'images/add_images.html' %}
</div>
<div id="deleteImages" class="card">
  <h3 class="h3">Delete Image(s) from Album</h3>
  <p>Click the images to delete, then click the "Delete Images" button. This action cannot be undone!</p>
  {% include 'images/delete_images.html' %}
</div>
{% endif %}
<div class="card">
  <div id="album">
    {% for image in images %}
    <div>
      <a data-fancybox="gallery" href="{{ image.image.url }}" data-id="{{ image.id }}">
        <img src="{{ image.thumbnail.url }}">
      </a>
    </div>
    {% empty %}
    {% if user.is_superuser or user.id == album.created_by.id %}
    <p class="text-center empty">There are currently no images in this album. You may add images by clicking the "Add Images" button above.</p>
    {% else %}
    <p class="text-center empty">There are currently no images in this album.</p>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% include 'images/delete_album_modal.html' %}
{% endblock %}
