{% extends 'images/base.html' %}{% block content %}
{% include 'home/messages.html' %}
<h1 class="h1 text-center">{{ album.title }}</h1>
{% if user.is_superuser or user.id == album.created_by.id %}
<div id="controls">
  <button id="updateTitleButton" class="btn btn-secondary">Update Title</button>
  <button id="addImagesButton" class="btn btn-secondary">Add Images</button>
  <button id="deleteImagesButton" class="btn btn-secondary">Delete Images</button>
  <button id="deleteAlbumButton" class="btn btn-secondary" data-toggle="modal" data-target="#deleteAlbumModal">Delete Album</button>
</div>
<div id="updateTitle" class="card">
  <h3 class="h3">Update Album Title</h3>
  {% include 'images/update_album_title.html' %}
</div>
<div id="addImages" class="card">
  <h3 class="h3">Add Image(s) to Album</h3>
  {% include 'images/add_images.html' %}
</div>
<div id="deleteImages" class="card">
  <h3 class="h3">Delete Image(s) from Album</h3>
  <p>Click the images to delete, then click the "Delete Images" button. This cannot be undone!</p>
  {% include 'images/delete_images.html' %}
</div>
{% endif %}
<div id="album">
{% for image in images %}
  <a data-fancybox="gallery" href="{{ image.image.url }}" data-id="{{ image.id }}">
    <img src="{{ image.image.url }}">
  </a>
{% endfor %}
</div>
{% include 'images/delete_album_modal.html' %}
{% endblock %}
