<li class="album card">
  <h2 class="h2"><a href="{% url 'images:album' album.slug album.id %}">{{ album.title }} <span class="text-nowrap">({{ images|length }} image{% if images|length != 1 %}s{% endif %})</span></a></h2>
  <p class="info">Created on {{ album.date_created|date:"N j, Y." }} <span class="text-nowrap">From <a href="{% if album.category == 0 %}{% url 'home:category' 'nightlife' %}{% elif album.category == 1 %}{% url 'home:category' 'restaurants' %}{% elif album.category == 3 %}{% url 'home:category' 'arts-and-entertainment' %}{% elif album.category == 4 %}{% url 'home:category' 'health-and-fitness' %}{% elif album.category == 5 %}{% url 'home:category' 'sports' %}{% elif album.category == 6 %}{% url 'home:category' 'non-profit' %}{% elif album.category == 7 %}{% url 'home:category' 'editorials-and-opinions' %}{% endif %}">{{ album.get_category_display }}</a>.</span></p>
  <div class="images">
  {% for image in images_preview %}
    <a data-fancybox="gallery" href="{{ image.image.url }}" data-id="{{ image.id }}">
      <img src="{{ image.thumbnail.url }}">
    </a>
  {% endfor %}
  {% if images|length > 6 %}
  <a class="see-more text-center" href="{% url 'images:album' album.slug album.id %}">
    <i class="fas fa-chevron-circle-right"></i>
    <br>
    More
  </a>
  {% endif %}
</li>
