{% extends 'home/global_base.html' %}{% load static %}

{% block internal_stylesheets %}  <!-- Images App CSS -->
  <link rel="stylesheet" href="{% static 'images/css/images.min.css' %}">

{% endblock %}

{% block internal_scripts %}  <!-- Images App JS -->
  <script type="text/javascript" src="{% static 'images/js/create_album.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'images/js/update_album.min.js' %}"></script>

{% endblock %}

{% block h1 %}{{ album.title }}{% endblock %}
