#album
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  gap: .5rem
  margin-bottom: .5rem

  p.empty
    grid-column-start: 1
    grid-column-end: span 3
    color: $light-gray
    font-style: italic

  a.active
    border: .5rem solid $blue

  & > div
    align-self: center
    display: flex
    justify-content: center
    align-items: center

    & > a > img
      width: 100%

  @media screen and (min-width: 1634px)
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr

    p.empty
      grid-column-start: 2
