#content .container form
  input[type="text"], input[type="number"], input[type="password"],
  input[type="submit"], textarea, select, label
    margin-bottom: .5rem

  input[type="text"], input[type="number"], input[type="password"],
  textarea, select, label
    color: $white
    border-color: $lighter-gray
    background-color: $gray

  .input-group-append
    height: 38px
    z-index: 3

  .input-group-append:not(.default-cursor)
    cursor: pointer

    .input-group-text
      color: $white
      border-color: $lighter-gray
      background-color: $lighter-gray

      i
        min-width: 14px

  .container.logged-out
    max-width: 320px

#updateLocationForm
  input[name="address1"]
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0

  input[name="address2"]
    margin-top: -9px
    border-top-left-radius: 0
    border-top-right-radius: 0

  input[name="frequency"], input[name="state"]
    border-top-right-radius: 0
    border-bottom-right-radius: 0

  select[name="frequency-units"], input[name="zip-code"]
    border-top-left-radius: 0
    border-bottom-left-radius: 0

#locationAutocomplete, #neighborhoodAutocomplete
  position: relative
  z-index: 4

  ul
    position: absolute
    bottom: 54px
    right: 0
    left: 0
    margin-bottom: 0
    border-radius: 4px
    color: $black
    background-color: $white

    li
      border-radius: 4px
      padding: 6px 12px
      cursor: pointer

    li:hover, li.active
      color: $white
      background-color: $blue

@media screen and (min-width: $breakpoint-md)
  #updateLocationForm
    label[for="frequency"], input[name="city"]
      border-top-right-radius: 0
      border-bottom-right-radius: 0

    input[name="frequency"], input[name="state"]
      border-top-left-radius: 0
      border-bottom-left-radius: 0