@import url('https://fonts.googleapis.com/css?family=Patua+One|Roboto')

@import '_variables'
@import '_mixins'

@import '_ads'
@import '_autocomplete'
@import '_card'
@import '_footer'
@import '_forms'
@import '_navbar'
@import '_sidebar'
@import '_modals'

@import '_locations'
@import '_update_delete_location'

html, body
  max-height: 100%

// anchor rules added to body tag for higher specificity
body
  a, a:hover
    color: $cyan

  a
    text-decoration: none

  a:hover
    text-decoration: underline

h1.h1, h3.h3
  font-family: $font-title

h1.h1
  color: $yellow

h3.h3
  color: $orange

ul.bulleted
  list-style: disc inside

  li::marker
    color: $lighter-gray

  li.empty::marker
    display: none

.fa-external-link-alt
  display: inline
  vertical-align: 1px
  font-size: 8px
  color: $cyan
  cursor: pointer

#content .container
  .alert p
    margin: 0

  .alert-danger p
    color: #721c24

  .alert-success p
    color: #155724

  .alert-info p
    color: #0c5460

#grid
  display: grid
  grid-template-columns: [left] 301px [sidebar-right] auto [right]
  grid-template-rows: [top] 69px [nav-bottom] auto [footer-tall-top] 68.2px - 49px [footer-short-top] 49px - 32px [gradient-top] 32px [bottom]
  height: 100vh

@media screen and (min-width: $breakpoint-md)
  #content
    grid-column-start: sidebar-right

    .container
      padding: 1rem

  #grid
    grid-template-rows: [top] 69px [nav-bottom] 264px [topics-bottom] auto [footer-tall-top] 68.2px - 49px [footer-short-top] 49px - 32px [gradient-top] 32px [bottom]
    min-height: 669px
