#content .container
  padding: .5rem

  & > :last-child, .alert p
    margin-bottom: 0

  article, .article
    p:not(.info)
      text-align: justify

  .h1
    margin-bottom: 1rem

@media screen and (min-width: $breakpoint-md)
  #content .container
      padding: 1rem
