#content .container
  article, .article
    .info
      color: $green
      font-size: 1rem
      font-style: italic
      margin-bottom: .5rem

      a
        color: $green
        text-decoration: underline

      a:hover
        color: $cyan

    a.profile-image
      margin: 0 auto 1rem auto

    p:not(.info)
      text-align: justify

  article.category
    h5.h5 > a
      color: $yellow

    .info
      color: $green
