{% extends 'articles/base.html' %}{% load static %}

{% block large_mobile_banner1 %}
{# include 'home/ads/large_mobile_banner19.html' #}
{% endblock %}

{% block leaderboard1 %}
{# include 'home/ads/leaderboard19.html' #}
{% endblock %}

{% block large_mobile_banner2 %}
{# include 'home/ads/large_mobile_banner20.html' #}
{% endblock %}

{% block leaderboard2 %}
{# include 'home/ads/leaderboard20.html' #}
{% endblock %}

{% block medium_rectangle1a %}
{# include 'home/ads/medium_rectangle53a.html' #}
{% endblock %}

{% block js %}{% if request.user.is_superuser %}  <!-- TinyMCE Initialization JS -->
  <script type="text/javascript" src="{% static 'global/js/tinymce_init.min.js' %}"></script>

{% endif %}{% endblock %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
{% include 'home/messages.html' %}
<article class="card">
  <p class="info">{% if article.author %}By <a href="{% url 'articles:author' article.author.slug article.author.id %}">{{ article.author }}</a>{% else %}Author deleted{% endif %}. Created on {{ article.date_created|date:"N j, Y." }}{% if article.updated_later %} <span class="text-nowrap">Updated {{ article.date_updated|date:"N j, Y." }}</span>{% endif %} From <a href="{% if article.category == 0 %}{% url 'home:category' 'nightlife' %}{% elif article.category == 1 %}{% url 'home:category' 'restaurants' %}{% elif article.category == 3 %}{% url 'home:category' 'arts-and-entertainment' %}{% elif article.category == 4 %}{% url 'home:category' 'health-and-fitness' %}{% elif article.category == 5 %}{% url 'home:category' 'sports' %}{% elif article.category == 6 %}{% url 'home:category' 'non-profit' %}{% elif article.category == 7 %}{% url 'home:category' 'editorials-and-opinions' %}{% endif %}">{{ article.get_category_display }}</a>.</p>
  {% if article.author.profile_image %}
  <a class="profile-image" data-fancybox="gallery" href="{{ article.author.profile_image.image.url }}">
    <img src="{{ article.author.profile_image.thumbnail.url }}">
  </a>
  {% endif %}
  <div class="formatted-text">
    {{ article.body|safe }}
  </div>
</article>
<div class="rectangles">
  {# include 'home/ads/medium_rectangle53b.html' #}
  {# include 'home/ads/medium_rectangle54.html' #}
  {# include 'home/ads/medium_rectangle55.html' #}
  {# include 'home/ads/medium_rectangle56.html' #}
</div>
{% if article.album %}
<h2 class="h2"><a href="{% url 'images:album' article.album.slug article.album.id %}">{{ article.album.title }} <span class="text-nowrap">({{ images|length }} image{% if images|length != 1 %}s{% endif %})</span></a></h2>
{% if images_preview %}
<div class="card">
  <div id="album">
  {% for image in images_preview %}
    <div>
      <a data-fancybox="gallery" href="{{ image.image.url }}" data-id="{{ image.id }}">
        <img src="{{ image.thumbnail.url }}">
      </a>
    </div>
  {% endfor %}
  {% if images|length > 15 %}
  <a class="see-more text-center" href="{% url 'images:album' article.album.slug article.album.id %}">
    <i class="fas fa-chevron-circle-right"></i>
    <br>
    More
  </a>
  {% endif %}
  </div>
</div>
{% else %}
{% if request.user.is_superuser or user.id == article.album.created_by.id %}
<p class="empty-card">There are currently no images in this album. You may add images by clicking the album title above or <a href="{% url 'images:album' article.album.slug article.album.id %}">this link</a>.</p>
{% else %}
<p class="empty-card">There are currently no images in this album.</p class="empty-card">
{% endif %}
{% endif %}
{% endif %}
{% if request.user.is_superuser %}
<h2 class="h2">Update</h2>
{% include 'articles/update_article.html' %}
<h2 class="h2">Delete</h2>
<div class="card">
  {% include 'articles/delete_article_form.html' %}
  <button id="deleteArticleButton" class="btn btn-danger" data-toggle="modal" data-target="#deleteArticleModal">Delete Article</button>
</div>
{% include 'articles/delete_article_modal.html' %}
{% endif %}
{% endblock %}
