{% extends 'home/global_base.html' %}{% load static %}

{% block internal_stylesheets %}  <!-- Articles App CSS -->
  <link rel="stylesheet" href="{% static 'articles/css/articles.min.css' %}">

{% endblock %}

{% block internal_scripts %}{% if request.user.is_superuser %}  <!-- Articles App JS -->
  <script type="text/javascript" src="{% static 'articles/js/article_autocomplete.min.js' %}"></script>

{% endif %}{% endblock %}

{% block internal_script_libraries %}{% if request.user.is_superuser %}  <!-- TinyMCE JS -->
  <script
    type="text/javascript"
    src="https://cdn.tiny.cloud/1/apy2ip7pf3f8h7hotnuy1ir341jcqsu7hl13jhou7v3ua756/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>

{% endif %}{% endblock %}

{% block h1 %}{% block title %}{% endblock %}{% endblock %}
