<form id="createArticleForm" action="{% url 'articles:create' %}" method="POST">
  {% csrf_token %}
  {% for hidden in create_article_form.hidden_fields %}
  {{ hidden }}
  {% endfor %}
  {% for field in create_article_form.visible_fields %}
  {% if field.id_for_label == 'id_author' %}
  {{ field }}
  <div id="authorAutocomplete"></div>
  {% elif field.id_for_label == 'id_album' %}
  {{ field }}
  <div id="albumAutocomplete"></div>
  {% elif field.id_for_label == 'id_category' %}
  <div class="row select">
    <label id="categoryLabel" class="form-control col-12 col-md-6" for="id_category">{{ field.label }}</label>
    {{ field }}
  </div>
  {% else %}
  {{ field }}
  {% endif %}
  {% endfor %}
  <input class="btn btn-primary form-control" type="submit" value="Submit">
</form>
