<form id="updateArticleForm" class="card" action="{% url 'articles:update' article.slug article.id %}" method="POST">
  {% csrf_token %}
  {% for hidden in update_article_form.hidden_fields %}
  {% if article.author and hidden.id_for_label == 'id_author_id' %}
  <input type="hidden" name="author_id" autocomplete="off" id="id_author_id" value="{{ article.author.id }}">
  {% elif article.album and hidden.id_for_label == 'id_album_id' %}
  <input type="hidden" name="author_id" autocomplete="off" id="id_album_id" value="{{ article.album.id }}">
  {% else %}
  {{ hidden }}
  {% endif %}
  {% endfor %}
  <input type="hidden" id="authorName" value="{% if article.author %}{{ article.author.full_name }}{% endif %}">
  <input type="hidden" id="albumTitle" value="{% if article.album %}{{ article.album.title }}{% endif %}">
  {% for field in update_article_form.visible_fields %}
  {% if field.id_for_label == 'id_author' %}
  <input type="text" name="author" value="{{ article.author.full_name }}" class="form-control" placeholder="Author" autocomplete="off" required="" id="id_author">
  <div id="authorAutocomplete"></div>
  {% elif field.id_for_label == 'id_album' %}
  <input type="text" name="album" value="{{ article.album.title }}" class="form-control" placeholder="Photo Album (search for existing or leave blank)" autocomplete="off" id="id_album">
  <div id="albumAutocomplete"></div>
  {% elif field.id_for_label == 'id_body' %}
  <div class="alert alert-info" role="alert">
    <a href="javascript:void(0);" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
    <p><i class="fas fa-info-circle"></i> Note that a heading will already be applied with the title provided above. The article page uses a level 1 heading and the home page uses a level 3.</p>
  </div>
  {{ field }}
  {% elif field.id_for_label == 'id_category' %}
  <div class="row select">
    <label class="form-control col-12 col-md-6" for="id_category">{{ field.label }}</label>
    {{ field }}
  </div>
  {% else %}
  {{ field }}
  {% endif %}
  {% endfor %}
  <input class="btn btn-primary form-control" type="submit" value="Update">
</form>
