<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
  <!--Meta Tags-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--Title & Favicon-->
  <title>Market to Market Chicago</title>
  <link rel="icon" href="{% static 'home/img/favicon.ico' %}" type="image/x-icon">

  <!--------------->
  <!--Stylesheets-->
  <!--------------->

  <!--Internal Stylesheets (compressed)-->

  <!--Reset CSS-->
  <!--<link rel="stylesheet" href="{% static 'home/css/reset.css' %}">-->

  <!--Users App CSS-->
  <!--<link rel="stylesheet" href="{% static 'users/css/users.css' %}">-->

  <!--Internal Stylesheets (compressed)-->

  <!--Reset CSS-->
  <link rel="stylesheet" href="{% static 'home/css/reset.min.css' %}">

  <!--Users App CSS-->
  <link rel="stylesheet" href="{% static 'users/css/users.min.css' %}">

  <!--Internal Stylesheet Libraries (compressed)-->

  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">

  <!--Font Awesome CSS-->
  <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}">

  <!--fancybox CSS-->
  <link rel="stylesheet" href="{% static 'home/css/jquery.fancybox.min.css' %}">

  <!--External Stylesheet Libraries (compressed)-->

  <!--Bootstrap CSS-->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!--Font Awesome CSS-->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--fancybox CSS-->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">

  <!--Tempus Dominus CSS-->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css">

  <!----------->
  <!--Scripts-->
  <!----------->

  <!--Internal Script Libraries (compressed)-->

  <!--jQuery JS-->
  <script type="text/javascript" src="{% static 'home/js/jquery-3.3.1.min.js' %}"></script>

  <!--Bootstrap JS-->
  <script type="text/javascript" src="{% static 'home/js/bootstrap.min.js' %}"></script>

  <!--Font Awesome JS-->
  <script type="text/javascript" src="{% static 'home/js/3c68f13de5.js' %}"></script>

  <!--fancybox JS-->
  <script type="text/javascript" src="{% static 'home/js/jquery.fancybox.min.js' %}"></script>

  <!--Internal Scripts (uncompressed)-->

  <!--Cross-App JS-->
  <!--<script type="text/javascript" src="{% static 'home/js/global.js' %}"></script>-->

  {% if request.user.is_superuser %}<!--Home App JS-->
  <!--<script type="text/javascript" src="{% static 'home/js/create_person.js' %}"></script>-->

  <!--Users App JS-->
  <!--<script type="text/javascript" src="{% static 'users/js/create_view_invites.js' %}"></script>-->

  {% endif %}<!--Locations App JS-->
  <!--<script type="text/javascript" src="{% static 'locations/js/create_location.js' %}"></script>-->

  <!--Events App JS-->
  <!--<script type="text/javascript" src="{% static 'events/js/create_event.js' %}"></script>-->

  <!--Images App JS-->
  <!--<script type="text/javascript" src="{% static 'images/js/create_album.js' %}"></script>-->

  {% if request.user.is_superuser %}<!--Articles App JS-->
  <!--<script type="text/javascript" src="{% static 'articles/js/create_author.js' %}"></script>-->
  <!--<script type="text/javascript" src="{% static 'articles/js/create_article.js' %}"></script>-->
  <!--<script type="text/javascript" src="{% static 'articles/js/article_autocomplete.js' %}"></script>-->

  {% endif %}<!--Internal Scripts (compressed)-->

  <!--Cross-App JS-->
  <script type="text/javascript" src="{% static 'home/js/global.min.js' %}"></script>

  {% if request.user.is_superuser %}<!--Home App JS-->
  <script type="text/javascript" src="{% static 'home/js/create_person.min.js' %}"></script>

  <!--Users App JS-->
  <script type="text/javascript" src="{% static 'users/js/create_view_invites.min.js' %}"></script>

  {% endif %}<!--Locations App JS-->
  <script type="text/javascript" src="{% static 'locations/js/create_location.min.js' %}"></script>

  <!--Events App JS-->
  <script type="text/javascript" src="{% static 'events/js/create_event.min.js' %}"></script>

  <!--Images App JS-->
  <script type="text/javascript" src="{% static 'images/js/create_album.min.js' %}"></script>

  {% if request.user.is_superuser %}<!--Articles App JS-->
  <script type="text/javascript" src="{% static 'articles/js/create_author.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'articles/js/create_article.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'articles/js/article_autocomplete.min.js' %}"></script>

  {% endif %}<!--External Script Libraries (compressed)-->

  <!--jQuery JS-->
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <!--Bootstrap JS-->
  <script
    type="text/javascript"
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!--Font Awesome JS-->
  <script type="text/javascript" src="https://kit.fontawesome.com/3c68f13de5.js"></script>

  <!--fancybox JS-->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

  <!--Moment.js JS-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

  <!--Tempus Dominus JS-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
</head>
<body>
  <div id="grid">
    {% include 'home/navbar.html' %}
    <section id="content">
      {% block content %}
      {% endblock %}
    </section>
    {% include 'home/footer.html' %}
  </div>
</body>
</html>
