{% extends 'users/base.html' %}
{% load static %}
{% block content %}
{% if not user.is_authenticated %}
<div class="container logged-out">
  {% include 'home/messages.html' %}
  <h1 class="h1 text-center">Login</h1>
  <p class="text-center">This page is intended for authors and site administators. If you would like to return to the home page, you may do so by clicking <a href="{% url 'home:index' %}">here</a>.</p>
  <form method="POST" action="{% url 'users:login' %}">
    {% csrf_token %}
    <input class="form-control" placeholder="Username" type="text" name="username">
    <input class="form-control" placeholder="Password" type="password" name="password">
    <input value="Submit" class="form-control btn btn-primary" type="submit">
  </form>
</div>
{% else %}
<div class="container logged-in">
  <h1 class="h1 text-center">Dashboard</h1>
  {% include 'home/messages.html' %}
  {% if user.is_superuser %}
  <div id="createArticle" class="card">
    <h3 class="h3">Create Article <i class="fa fa-chevron-down"></i></h3>
    {% include 'articles/create_article.html' %}
  </div>
  <div id="createInvites" class="card">
    <h3 class="h3">Create Invites <i class="fa fa-chevron-down"></i></h3>
    {% include 'users/create_invites.html' %}
  </div>
  <div id="viewInvites" class="card">
    <h3 class="h3">View Invites <i class="fa fa-chevron-down"></i></h3>
    {% include 'users/view_invites.html' %}
  </div>
  {% endif %}
  <div id="createEvent" class="card">
    <h3 class="h3">Create Event <i class="fa fa-chevron-down"></i></h3>
    {% include 'events/create_event.html' %}
  </div>
  <div id="createLocation" class="card">
    <h3 class="h3">Create Location <i class="fa fa-chevron-down"></i></h3>
    {% include 'locations/create_location.html' %}
  </div>
  <div id="createAlbum" class="card">
    <h3 class="h3">Create Photo Album <i class="fa fa-chevron-down"></i></h3>
    {% include 'images/create_album.html' %}
  </div>
</div>
{% endif %}
{% endblock %}