{% extends 'users/base.html' %}{% load static %}

{% block js %}{% if request.user.is_superuser %}  <!-- TinyMCE Initialization JS -->
  <script type="text/javascript" src="{% static 'home/js/tinymce_init.min.js' %}"></script>{% endif %}{% endblock %}

{% block content %}
{% if not request.user.is_authenticated %}
<div class="container logged-out">
  {% include 'home/messages.html' %}
  <h1 class="h1 text-center">Login</h1>
  <p class="text-center">This page is intended for authors and site administrators. If you would like to return to the home page, you may do so by clicking <a href="{% url 'home:index' %}">here</a>.</p>
  <form method="POST" action="{% url 'users:login' %}">
    {% csrf_token %}
    <input class="form-control" placeholder="Username" type="text" name="username">
    <input class="form-control" placeholder="Password" type="password" name="password">
    <input value="Submit" class="form-control btn btn-primary" type="submit">
  </form>
</div>
{% else %}
<div class="container logged-in">
  <h1 class="h1 text-center">Dashboard</h1>
  {% include 'home/messages.html' %}
  {% if request.user.is_superuser %}
  <div id="createPerson" class="card">
    <h2 class="h2">Create Person to Know<i class="fa fa-chevron-down"></i></h2>
    {% include 'home/create_person.html' %}
  </div>
  <div id="createContact" class="card">
    <h2 class="h2">Create About Page Contact<i class="fa fa-chevron-down"></i></h2>
    {% include 'home/create_contact.html' %}
  </div>
  <div id="createAuthor" class="card">
    <h2 class="h2">Create Author<i class="fa fa-chevron-down"></i></h2>
    {% include 'articles/create_author.html' %}
  </div>
  <div id="createArticle" class="card">
    <h2 class="h2">Create Article <i class="fa fa-chevron-down"></i></h2>
    {% include 'articles/create_article.html' %}
  </div>
  <div id="createInvites" class="card">
    <h2 class="h2">Create Invites <i class="fa fa-chevron-down"></i></h2>
    {% include 'users/create_invites.html' %}
  </div>
  <div id="viewInvites" class="card">
    <h2 class="h2">View Invites <i class="fa fa-chevron-down"></i></h2>
    {% include 'users/view_invites.html' %}
  </div>
  {% endif %}
  <div id="createEvent" class="card">
    <h2 class="h2">Create Event <i class="fa fa-chevron-down"></i></h2>
    {% include 'events/create_event.html' %}
  </div>
  <div id="createLocation" class="card">
    <h2 class="h2">Create Location <i class="fa fa-chevron-down"></i></h2>
    {% include 'locations/create_location.html' %}
  </div>
  <div id="createAlbum" class="card">
    <h2 class="h2">Create Photo Album <i class="fa fa-chevron-down"></i></h2>
    {% include 'images/create_album.html' %}
  </div>
</div>
{% endif %}
{% endblock %}