{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
  <p>{{ message }}</p>
</div>
{% elif message.tags == 'success' %}
<div class="alert alert-success" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
  <p>{{ message }}</p>
</div>
{% elif message.tags == 'info' %}
<div class="alert alert-info" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
  <p>{{ message }}</p>
</div>
{% endif %}
{% endfor %}
{% endif %}