@import url("https://fonts.googleapis.com/css?family=Patua+One|Roboto");
nav {
  grid-column-start: left;
  grid-column-end: right;
  grid-row-start: top;
  grid-row-end: nav-bottom;
  background-color: #1e1e1e;
  position: relative;
  height: 69px;
}
nav .navbar-brand {
  font-family: "Patua One", Helvetica, Arial, sans-serif;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  color: #dcdcaa !important;
}
nav .navbar-brand:hover {
  color: #ffffff !important;
}
nav .social {
  position: absolute;
  right: 4rem;
  top: 23px;
}
nav .social li {
  display: inline;
}
nav .social li a {
  padding: 0 0.25rem;
  color: #97d5f7;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
nav .social li a:hover {
  color: #ffffff;
}
nav #navbarMenuButton {
  border: none !important;
  color: #569cd6 !important;
  background-color: #1e1e1e;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  cursor: pointer;
}
nav #navbarMenuButton:hover {
  color: #ffffff !important;
}
nav #navbarCollapse {
  display: none;
  position: absolute;
  top: 69px;
  right: 0;
  left: 0;
  background-color: #1e1e1e;
  padding: 0 0.5rem 0.5rem 0.5rem;
  max-height: calc(100vh - 69px);
  overflow-y: auto;
  z-index: 3;
}
nav #navbarCollapse ul {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
nav #navbarCollapse ul .nav-item:not(:first-child) {
  margin-top: 0.5rem;
}
nav #navbarCollapse ul .nav-item {
  text-align: center;
}
nav #navbarCollapse ul .nav-item a.nav-link:not(:first-child) {
  margin-top: 0.5rem;
}
nav #navbarCollapse ul .nav-item a.nav-link {
  background-color: #333333;
  border-radius: 0.25rem;
  color: #ffffff !important;
}

@media screen and (min-width: 768px) {
  nav .social.logged-out {
    right: 14rem;
  }
  nav .social.logged-in {
    right: 24rem;
  }
  nav #navbarCollapse {
    display: inline;
    position: unset;
    padding: 0;
  }
  nav #navbarCollapse ul .nav-item:not(:first-child) {
    margin-top: 0;
  }
  nav #navbarCollapse ul .nav-item a.nav-link {
    background-color: unset;
    padding: 0 0.5rem;
    vertical-align: middle;
    color: #569cd6 !important;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  nav #navbarCollapse ul .nav-item a.nav-link:hover {
    color: #ffffff !important;
  }
}
#topics {
  display: none;
  position: relative;
  grid-column-start: left;
  grid-column-end: sidebar-right;
  grid-row-start: nav-bottom;
  grid-row-end: topics-bottom;
  background-color: #333333;
  color: #ffffff;
  margin: 0;
  border-right: 1px solid #818181;
}
#topics ul.topics {
  margin: 0;
  padding-bottom: 1px;
  background-color: #818181;
}
#topics ul.topics li {
  padding: 0.25rem 0;
  background-color: #444444;
  border-right: 0.25rem solid #444444;
  -webkit-transition: border-right 0.5s;
  transition: border-right 0.5s;
  text-align: center;
  cursor: pointer;
}
#topics ul.topics li a {
  display: block;
  color: #ffffff;
}
#topics ul.topics li a:hover {
  text-decoration: none;
}
#topics ul.topics li:not(:last-child) {
  margin-bottom: 1px;
}
#topics ul.topics li:nth-child(1) {
  border-left: 0.25rem solid #d5697d;
}
#topics ul.topics li:nth-child(1):hover, #topics ul.topics li:nth-child(1).active {
  border-right: 0.25rem solid #d5697d;
}
#topics ul.topics li:nth-child(2) {
  border-left: 0.25rem solid #bb846e;
}
#topics ul.topics li:nth-child(2):hover, #topics ul.topics li:nth-child(2).active {
  border-right: 0.25rem solid #bb846e;
}
#topics ul.topics li:nth-child(3) {
  border-left: 0.25rem solid #dcdcaa;
}
#topics ul.topics li:nth-child(3):hover, #topics ul.topics li:nth-child(3).active {
  border-right: 0.25rem solid #dcdcaa;
}
#topics ul.topics li:nth-child(4) {
  border-left: 0.25rem solid #679452;
}
#topics ul.topics li:nth-child(4):hover, #topics ul.topics li:nth-child(4).active {
  border-right: 0.25rem solid #679452;
}
#topics ul.topics li:nth-child(5) {
  border-left: 0.25rem solid #48b6a0;
}
#topics ul.topics li:nth-child(5):hover, #topics ul.topics li:nth-child(5).active {
  border-right: 0.25rem solid #48b6a0;
}
#topics ul.topics li:nth-child(6) {
  border-left: 0.25rem solid #97d5f7;
}
#topics ul.topics li:nth-child(6):hover, #topics ul.topics li:nth-child(6).active {
  border-right: 0.25rem solid #97d5f7;
}
#topics ul.topics li:nth-child(7) {
  border-left: 0.25rem solid #569cd6;
}
#topics ul.topics li:nth-child(7):hover, #topics ul.topics li:nth-child(7).active {
  border-right: 0.25rem solid #569cd6;
}
#topics ul.topics li:nth-child(8) {
  border-left: 0.25rem solid #9f62c2;
}
#topics ul.topics li:nth-child(8):hover, #topics ul.topics li:nth-child(8).active {
  border-right: 0.25rem solid #9f62c2;
}

#mediumRectangleContainer {
  display: none;
  position: relative;
  grid-column-start: left;
  grid-column-end: sidebar-right;
  grid-row-start: topics-bottom;
  grid-row-end: footer-tall-top;
  background-color: #333333;
  border-right: 1px solid #818181;
}
#mediumRectangleContainer #mediumRectangle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  #topics, #mediumRectangleContainer {
    display: block;
  }
}
#footer {
  position: fixed;
  padding: 0.25rem;
  background-color: #1e1e1e;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
#footer p {
  margin: 0;
  text-align: center;
  color: #ffffff;
  line-height: 1.2;
}
#footer a {
  color: #97d5f7;
}
#footer p, #footer a {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
#footer .footer-list {
  max-width: 14.5rem;
  position: relative;
  margin: auto;
  overflow: hidden;
}
#footer .footer-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 0 -1px;
  list-style: none;
  padding-left: 0;
}
#footer .footer-list ul li {
  line-height: 80%;
  flex: 1 0 auto;
  margin: 0.25em 0;
  padding: 0 0.5rem;
  text-align: center;
  border-left: 1px solid white;
}

@media screen and (min-width: 768px) {
  #footer {
    position: relative;
    grid-column-start: left;
    grid-column-end: sidebar-right;
    grid-row-start: footer-tall-top;
    grid-row-end: bottom;
    border-right: 1px solid #818181;
  }
}
#content .container .alert p {
  margin: 0;
}
#content .container .alert a:not(.close) {
  text-decoration: underline;
}
#content .container .alert-danger p, #content .container .alert-danger a {
  color: #721c24;
}
#content .container .alert-success p, #content .container .alert-success a {
  color: #155724;
}
#content .container .alert-info p, #content .container .alert-info a {
  color: #0c5460;
}

#content .container form input[type=text], #content .container form input[type=number], #content .container form input[type=password], #content .container form input[type=submit], #content .container form input[type=file], #content .container form textarea, #content .container form select, #content .container form label {
  margin-bottom: 0.5rem;
}
#content .container form input[type=text], #content .container form input[type=number], #content .container form input[type=password],
#content .container form textarea, #content .container form select, #content .container form label {
  color: #ffffff;
  border-color: #818181;
  background-color: #333333;
}
#content .container form input[type=file] {
  width: 100%;
  height: 38px;
  color: #ffffff;
}
#content .container form .input-group-append {
  height: 38px;
  z-index: 3;
}
#content .container form .input-group-append:not(.default-cursor) {
  cursor: pointer;
}
#content .container form .input-group-append:not(.default-cursor) .input-group-text {
  color: #ffffff;
  border-color: #818181;
  background-color: #818181;
}
#content .container form .input-group-append:not(.default-cursor) .input-group-text i {
  min-width: 14px;
}

#content .container {
  margin: 0;
  padding: 0;
}

#controls {
  text-align: center;
  margin-bottom: 0.75rem;
}
#controls button {
  margin-bottom: 0.25rem;
}

#updateTitle, #addImages, #deleteImages {
  display: none;
}

#deleteImagesForm input[type=checkbox] {
  display: none;
}

#album {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
}

#album > a {
  align-self: center;
}

#album > a > img {
  width: 100%;
}

@media screen and (min-width: 576px) {
  #content .container {
    margin: 0 auto;
    padding: 0.5rem 0;
  }

  #album {
    gap: 0.25rem;
  }
}
@media screen and (min-width: 1634px) {
  #album {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
html, body {
  max-height: 100%;
}

body a, body a:hover {
  color: #97d5f7;
}
body a {
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}

h1.h1, h3.h3 {
  font-family: "Patua One", Helvetica, Arial, sans-serif;
}

h1.h1 {
  color: #dcdcaa;
}

h3.h3 {
  color: #bb846e;
}

.fa-external-link-alt {
  display: inline;
  vertical-align: 1px;
  font-size: 8px;
  color: #97d5f7;
  cursor: pointer;
}

#grid {
  display: grid;
  grid-template-columns: [left] 301px [sidebar-right] auto [right];
  grid-template-rows: [top] 69px [nav-bottom] auto [footer-tall-top] 19.2px [footer-short-top] 17px [gradient-top] 32px [bottom];
  height: 100vh;
}

#content {
  grid-column-start: left;
  grid-column-end: right;
  grid-row-start: nav-bottom;
  grid-row-end: bottom;
  background-color: #333333;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#content .container {
  padding: 0.5rem 0;
}
#content .container > :last-child, #content .alert p {
  margin-bottom: 0;
}
#content .h1 {
  margin-bottom: 1rem;
}
#content .h1 .h3 a {
  color: #bb846e;
}
#content .h1 p {
  color: #ffffff;
}
#content .h1 p.info {
  color: #679452;
  font-style: italic;
  margin-bottom: 0.5rem;
}
#content .h1 p.info a {
  color: #679452;
  text-decoration: underline;
}

#skyscraperContainer {
  display: none;
  position: relative;
  grid-column-start: skyscraper-left;
  grid-column-end: right;
  grid-row-start: nav-bottom;
  grid-row-end: bottom;
  background-color: #444444;
  border-left: 1px solid #818181;
}
#skyscraperContainer #skyscraper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#content .container .card {
  background-color: #444444;
  border: 1px solid #818181;
  padding: 1rem 1rem 0.5rem 1rem;
  margin-bottom: 1rem;
}
#content .container .card p {
  color: #ffffff;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  #grid {
    grid-template-rows: [top] 69px [nav-bottom] 264px [topics-bottom] auto [footer-tall-top] 19.2px [footer-short-top] 17px [gradient-top] 32px [bottom];
    min-height: 669px;
  }

  #content {
    grid-column-start: sidebar-right;
  }
  #content .container {
    padding: 1rem;
  }

  #prev {
    left: 0;
  }

  #next {
    right: 0;
  }
}
@media screen and (min-width: 1200px) {
  #grid {
    grid-template-columns: [left] 301px [sidebar-right] auto [skyscraper-left] 193px [right];
  }

  #content {
    grid-column-end: skyscraper-left;
  }

  #skyscraperContainer {
    display: block;
  }
}

/*# sourceMappingURL=images.css.map */
