#content
  grid-column-start: left
  grid-column-end: right
  grid-row-start: nav-bottom
  grid-row-end: bottom
  background-color: $gray
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

  .container
    padding: .5rem

  .h1
    margin: 2rem 0

    .h3 a
      color: $orange

    p
      color: $white

    p.info
      color: $green
      font-style: italic
      margin-bottom: .5rem

      a
        color: $green
        text-decoration: underline

    p.read-more
      margin: 0

#skyscraperContainer
  display: none
  position: relative
  grid-column-start: skyscraper-left
  grid-column-end: right
  grid-row-start: nav-bottom
  grid-row-end: bottom
  background-color: $light-gray
  border-left: 1px solid $lighter-gray

  #skyscraper
    position: absolute
    top: 50%
    left: 50%
    @include transform(translate(-50%, -50%))

#tabs
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: .25rem
  margin-bottom: 1rem
  @include user-select-none

  li
    border-radius: .25rem
    color: $white
    background-color: $lighter-gray
    text-align: center
    line-height: 2
    cursor: pointer
    @include transition(background-color, .5s)

  li.active, li:hover
    background-color: $blue

#calendarControls
  position: relative

#prev, #next
  position: absolute
  top: 6px
  bottom: 0
  font-size: 1.5rem
  color: $white
  cursor: pointer

#prev.disabled, #next.disabled
  color: $white-50
  cursor: not-allowed

#prev
  left: 1rem

#next
  right: 1rem

#calendarGrid
  width: 100%
  height: 576px
  background-color: $lighter-gray
  display: grid
  grid-template: [top] 2rem [row0] 1fr [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] / [col0] 1fr [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [end]
  grid-gap: 1px
  padding: 1px

  .header
    grid-row-start: top
    grid-row-end: row0
    padding: .25rem
    text-align: center
    font-weight: bold
    text-shadow: 0px 0px 2px $dark-gray

  .header.col0
    background-color: $red

  .header.col1
    background-color: $orange

  .header.col2
    background-color: $yellow

  .header.col3
    background-color: $green

  .header.col4
    background-color: $cyan

  .header.col5
    background-color: $light-blue

  .header.col6
    background-color: $purple

  .row0
    grid-row-start: row0
    grid-row-end: row1

  .row1
    grid-row-start: row1
    grid-row-end: row2

  .row2
    grid-row-start: row2
    grid-row-end: row3

  .row3
    grid-row-start: row3
    grid-row-end: row4

  .row4
    grid-row-start: row4
    grid-row-end: row5

  .row5
    grid-row-start: row5
    grid-row-end: row6

  .col0
    grid-column-start: col0
    grid-column-end: col1

  .col1
    grid-column-start: col1
    grid-column-end: col2

  .col2
    grid-column-start: col2
    grid-column-end: col3

  .col3
    grid-column-start: col3
    grid-column-end: col4

  .col4
    grid-column-start: col4
    grid-column-end: col5

  .col5
    grid-column-start: col5
    grid-column-end: col6

  .col6
    grid-column-start: col6
    grid-column-end: end

#calendarGrid > div
  position: relative
  background-color: $light-gray
  color: $white
  @include user-select-none
  cursor: pointer

  span.date
    padding-left: .25rem

  ul.events
    max-width: 100%
    position: absolute
    top: 1.5rem
    right: 0
    left: 0

    li
      background-color: $blue
      border-radius: .5rem
      padding: 0 .5rem
      margin-bottom: .25rem
      height: 1rem
      line-height: 1
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

      small
        vertical-align: 1px

    .holiday
      background-color: $purple

.container .card
  background-color: $light-gray
  border-color: $lighter-gray
  color: $white
  padding: 1rem
  margin-bottom: .5rem
  position: relative


#calendarView, #byDateView, #byLocationView
  display: none

#byDateView .card
  h3
    position: absolute
    top: 15px
    left: 1rem
    width: 2rem
    color: $yellow
    line-height: 1

  ul.events
    margin-bottom: 0
    margin-left: 3rem

    li
      margin-bottom: .5rem

      h5 a
        color: $light-blue
        line-height: 28px

      .holiday
        color: $orange

      p
        margin-bottom: .5rem

      *:last-child
        margin-bottom: 0

    li:last-child
      margin-bottom: 0

#byLocationView .card ul.day
  margin-left: 3rem
  margin-bottom: .5rem

  li
    position: relative

    h3
      position: absolute
      top: -1px
      left: -3rem
      width: 2rem
      color: $yellow
      line-height: 1

    ul.events
      margin-bottom: 0

      li
        margin-bottom: .5rem

        h5 a
          color: $light-blue
          line-height: 28px

        .holiday
          color: $orange

        p
          margin-bottom: .5rem

        *:last-child
          margin-bottom: 0

      li:last-child
        margin-bottom: 0

table
  td
    margin-bottom: .5rem

    p
      margin-bottom: .5rem

    p:last-child
      margin-bottom: 0

  td:first-child
    text-align: right
    color: $lighter-gray
    font-weight: bold
    width: 8rem
    padding-right: 1rem

  td:first-child::after
    content: ':'

#map
  position: relative
  overflow: hidden
  padding-top: 56.25%
  margin-bottom: 1rem
  border: 0

  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: 0

@media screen and (min-width: $breakpoint-md)
  #content
    grid-column-start: sidebar-right

    .container
      padding: 0 1rem

  #prev
    left: 0

  #next
    right: 0

@media screen and (min-width: $breakpoint-xl)
  #content
    grid-column-end: skyscraper-left

  #skyscraperContainer
    display: block
