@import 'global'

@import 'ads'
@import 'album'
@import 'autocomplete'
@import 'card'
@import 'forms'
@import 'messages'
@import 'modals'
@import 'sidebar'

@import 'events'

#grid
  display: grid
  grid-template-columns: [left] 301px [sidebar-right] auto [right]
  grid-template-rows: [top] 69px [nav-bottom] auto [footer-tall-top] 68.2px - 49px [footer-short-top] 49px - 32px [gradient-top] 32px [bottom]
  height: 100vh

@media screen and (min-width: $breakpoint-md)
  #grid
    grid-template-rows: [top] 69px [nav-bottom] 264px [topics-bottom] auto [footer-tall-top] 68.2px - 49px [footer-short-top] 49px - 32px [gradient-top] 32px [bottom]
    min-height: 669px
