@import url('https://fonts.googleapis.com/css?family=Patua+One|Roboto')

@import '_variables'
@import '_mixins'

@import '_ads'
@import '_card'
@import '_footer'
@import '_navbar'
@import '_sidebar'

@import '_events'
@import '_update_delete_event'

html, body
  max-height: 100%

// anchor rules added to body tag for higher specificity
body
  a, a:hover
    color: $cyan

  a
    text-decoration: none

  a:hover
    text-decoration: underline

h1.h1, h3.h3
  font-family: $font-title

h1.h1
  color: $yellow

h3.h3
  color: $orange

.fa-external-link-alt
  display: inline
  vertical-align: 1px
  font-size: 8px
  color: $cyan
  cursor: pointer

#grid
  display: grid
  grid-template-columns: [left] 301px [sidebar-right] auto [right]
  grid-template-rows: [top] 69px [nav-bottom] auto [footer-tall-top] 68.2px - 49px [footer-short-top] 49px - 32px [gradient-top] 32px [bottom]
  height: 100vh

@media screen and (min-width: $breakpoint-md)
  #grid
    grid-template-rows: [top] 69px [nav-bottom] 264px [topics-bottom] auto [footer-tall-top] 68.2px - 49px [footer-short-top] 49px - 32px [gradient-top] 32px [bottom]
    min-height: 669px

@media screen and (min-width: $breakpoint-xl)
  #grid
    grid-template-columns: [left] 301px [sidebar-right] auto [skyscraper-left] 193px [right]
