#mediumRectangle1Container
  position: relative
  grid-column-start: left
  grid-column-end: sidebar-right
  grid-row-start: topics-bottom
  grid-row-end: footer-tall-top
  background-color: $gray
  border-right: 1px solid $lighter-gray

#mediumRectangle1a
  position: absolute
  top: 50%
  @include transform(translateY(-50%))

#largeMobileBanner1,
#mediumRectangle1b,
#mediumRectangle2,
#mediumRectangle3,
#mediumRectangle4
  margin: 0 auto .5rem auto

#largeMobileBanner1
  width: 320px
  height: 100px

#mediumRectangle1b,
#mediumRectangle2,
#mediumRectangle3,
#mediumRectangle4
  width: 300px
  height: 250px
