#largeMobileBanner1
  display: block
  width: 320px
  margin: 0 auto 1rem auto

#mediumRectangleContainer
  display: none
  position: relative
  grid-column-start: left
  grid-column-end: sidebar-right
  grid-row-start: topics-bottom
  grid-row-end: footer-tall-top
  background-color: $gray
  border-right: 1px solid $lighter-gray

#mediumRectangle1a
  position: absolute
  top: 50%
  @include transform(translateY(-50%))

#mediumRectangle1b
  display: block
  width: 300px
  margin: 0 auto 1rem auto

#mediumRectangle2
  position: relative
  width: 300px
  left: 50%
  @include transform(translateX(-50%))
  margin-bottom: 1rem

@media screen and (min-width: $breakpoint-md)
  #mediumRectangleContainer
    display: block

  #mediumRectangle2
    position: initial
    left: 0
    @include transform(translateX(0))
    width: 300px
    margin: 0 0 0 1rem
