.container
  .card, .empty-card
    background-color: $light-gray
    border: 1px solid $lighter-gray
    border-radius: .25rem
    padding: 1rem
    margin-bottom: .5rem
    position: relative

  .card
    color: $white

  .empty-card
    color: $lighter-gray
    font-style: italic
    text-align: center
