.container
  .card, .empty-card
    background-color: $mid-gray
    border: 1px solid $light-gray
    border-radius: .25rem
    padding: 1rem
    margin-bottom: 1rem
    position: relative

  .card
    color: $white

    p
      margin-bottom: 1rem

    p:not(.info)
      color: $white

    > :last-child
      margin-bottom: 0 !important

  .empty-card
    color: $light-gray
    font-style: italic
    text-align: center

    a
      color: $light-gray
      text-decoration: underline

    a:hover
      color: $cyan
