#content .event
  .info
    color: $green
    font-size: 1rem
    font-style: italic
    margin-bottom: .5rem

    a
      color: $green
      text-decoration: underline

    a:hover
      color: $cyan

  .cal-preview
    @include user-select-none
    width: 125px
    height: 125px
    padding: 0.5rem
    color: white
    background-color: #007bff

    h1.h1, h5.h5
      font-family: $font-body
      color: white

    h1.h1
      margin: 0 0 .5rem 0