#content .container
  padding: 0 1rem

  .h1
    margin: 2rem 0

#newsFeed .card,
#articles .card
  margin-bottom: .5rem

.contact
  h5.h5 > i
    color: $green
    margin-right: .5em

  h5.h5 > a
    color: $cyan

  h5.h5:last-child
    margin-bottom: 0
