#content
  grid-column-start: left
  grid-column-end: right
  grid-row-start: nav-bottom
  grid-row-end: bottom
  background-color: $dark-gray
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

  .container
    padding: 0 1rem

  .h1
    margin: 2rem 0

#newsFeed .card,
#articles .card
  margin-bottom: .5rem

.contact
  h5.h5 > i
    color: $orange
    margin-right: .5em
  
  h5.h5 > a
    color: $light-blue

  h5.h5:last-of-type
    margin-bottom: 0

@media screen and (min-width: $breakpoint-md)
  #content
    grid-column-start: sidebar-right
