@mixin user-select-none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none

@mixin transition-color($time)
  -webkit-transition: color $time
  transition: color $time

@mixin transition-border-right($time)
  -webkit-transition: border-right $time
  transition: border-right $time

@mixin transform($properties...)
  -webkit-transform: $properties
  -moz-transform: $properties
  -ms-transform: $properties
  -o-transform: $properties
  transform: $properties

@mixin linear-gradient($direction, $colors...)
  background: -webkit-linear-gradient($direction, $colors)
  background: -moz-linear-gradient($direction, $colors)
  background: -ms-linear-gradient($direction, $colors)
  background: -o-linear-gradient($direction, $colors)
  background: linear-gradient($direction, $colors)
