.modal
  background-color: $dark-gray-50

  .modal-content
    background-color: $mid-gray
    color: $white

    .close,
    .close:not(:disabled):not(.disabled):focus,
    .close:not(:disabled):not(.disabled):hover
      color: $white

    .modal-header, .modal-footer
      border-color: $light-gray

    .modal-footer, #deleteAlbumForm, #deleteLocationForm
      input[type="submit"]
        margin-bottom: 0
