.person, .author
  .info
    color: $green
    font-size: 1rem
    font-style: italic
    margin-bottom: .5rem

    a
      color: $green
      text-decoration: underline

    a:hover
      color: $cyan

  a.profile-image
    margin: 0 auto 1rem auto

    img
      width: 100%

  p:not(.info)
    text-align: justify
    margin-bottom: 1rem

    br
      margin-bottom: 1rem

  .contact h5.h5
    i
      color: $yellow
      margin-right: .5em
    
    a
      color: $light-blue

  .actions
    margin: 0 -.25rem

    > *
      margin: 0 .25rem
