.person, .author
  p:not(.info)
    text-align: justify
    margin-bottom: 1rem

    br
      margin-bottom: 1rem

  .contact
    h3.h3, h4.h4
      i
        margin-right: .5em
        color: $lighter-gray
        vertical-align: bottom

      & > a
        color: $light-blue
        text-decoration: none

        &:hover
          text-decoration: underline

  .actions
    margin: 0 -.25rem

    & > *
      margin: 0 .25rem
