@import url('https://fonts.googleapis.com/css?family=Patua+One|Roboto')

@import '_variables'
@import '_mixins'

@import '_navbar'
@import '_sidebar'
@import '_footer'

@import '_home'

html, body
  height: 100%

body
  background-color: $dark-gray

a, a:hover
  color: $blue

a
  text-decoration: none

a:hover
  text-decoration: underline
