#content
  grid-column-start: left
  grid-column-end: right
  grid-row-start: nav-bottom
  grid-row-end: footer-top
  background-color: $dark-gray

  .container
    padding: 2rem 1rem
    max-width: 720px

    .h1
      margin-bottom: 1rem

    .h3
      cursor: pointer
      @include user-select-none

      i
        float: right

    p
      color: $white

    .card
      background-color: $mid-gray
      border: 1px solid $light-gray
      padding: 1rem 1rem .5rem 1rem
      margin-bottom: 1rem

  .container.logged-out
    max-width: 320px
