#content
  grid-column-start: left
  grid-column-end: right
  grid-row-start: nav-bottom
  grid-row-end: footer-top
  background-color: $gray

  .container
    max-width: 320px
    padding: 2rem 1rem

    .h1
      margin-bottom: 1rem

    p
      color: $white

    form
      input[type="email"], input[type="password"]
        color: $white
        margin-bottom: 0.25rem
        border-color: $lighter-gray
        background-color: $dark-gray
