@import url('https://fonts.googleapis.com/css?family=Patua+One|Roboto')

@import '_variables'
@import '_mixins'

@import '_navbar'
@import '_footer'

@import '_users'
@import '_create_event'
@import '_create_album.sass'

html, body
  height: 100%

// anchor rules added to body tag for higher specificity
body
  a, a:hover
    color: $cyan

  a
    text-decoration: none

  a:hover
    text-decoration: underline

h1.h1, h3.h3
  font-family: $font-title

h1.h1
  color: $yellow

h3.h3
  color: $orange

.fa-external-link-alt
  display: inline
  vertical-align: 1px
  font-size: 8px
  color: $cyan
  cursor: pointer

#grid
  display: grid
  grid-template-columns: [left] auto [right]
  grid-template-rows: [top] 69px [nav-bottom] auto [footer-top] 49px [bottom]
  height: 100vh

.alert .close
  padding-left: .5rem

#content .container form
  input[type="text"], input[type="number"], input[type="password"],
  input[type="submit"], textarea, select, label
    margin-bottom: .5rem

  input[type="text"], input[type="number"], input[type="password"],
  textarea, select, label
    color: $white
    border-color: $lighter-gray
    background-color: $gray

  .input-group-append
    height: 38px
    z-index: 3

  .input-group-append:not(.default-cursor)
    cursor: pointer

    .input-group-text
      color: $white
      border-color: $lighter-gray
      background-color: $lighter-gray

      i
        min-width: 14px

  .container.logged-out
    max-width: 320px
